.bs-oneclick-booking__root {
  container: bsOneClickBooking / inline-size;
  width: 100%;
}

.bs-oneclick-booking__skeleton--tiny {
  height: 30px;
}

.bs-oneclick-booking__skeleton,
.bs-oneclick-booking__skeleton--small {
  width: 100%;
}

.bs-oneclick-booking__skeleton {
  height: 300px;
}

.bs-oneclick-booking__skeleton--small {
  height: 100px;
}

.bs-oneclick-booking__content,
.bs-oneclick-booking__payment-packs,
.bs-oneclick-booking__container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.bs-oneclick-booking__booking-details__card,
.bs-oneclick-booking__payment-pack-item {
  width: 100%;
}

.bs-oneclick-booking__container {
  gap: var(--bs-space-size-2);
  padding: var(--bs-space-size-6) var(--bs-space-size-4);
}

.bs-oneclick-booking__container--loading {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.bs-oneclick-booking__checkout-header__title {
  font-family: var(--h5-fontFamily);
  font-size: var(--h5-fontSize);
  font-weight: var(--h5-fontWeight);
  letter-spacing: var(--h5-letterSpacing);
  line-height: var(--h5-lineHeight);
}

.bs-oneclick-booking__already-member--mobile {
  display: flex;
  align-items: center;
  gap: var(--bs-space-size-1);
}

.bs-oneclick-booking__already-member--desktop {
  display: none;
}

.bs-oneclick-booking__content {
  gap: var(--bs-space-size-4);
}

.bs-oneclick-booking__payment-packs {
  gap: var(--bs-space-size-2);
}

.bs-oneclick-booking__payment-pack-item {
  cursor: pointer;
}

.bs-oneclick-booking__see-more-with-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--bs-space-size-2);
}

.bs-oneclick-booking__light-signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--bs-space-size-4);
}

.bs-light-signup-form__container,
.bs-light-signup-form__name-section,
.bs-light-signup-form__contact-section {
  display: flex;
  flex-direction: column;
  gap: var(--bs-space-size-3);
}

.bs-light-signup-form__submit-button {
  align-self: flex-start;
}

.bs-light-signup-form__submit-button-loader {
  margin: 0 var(--bs-space-size-2);
}

.bs-light-signup-form__submit-button-loader svg {
  stroke: white;
  fill: white;
}

.bs-oneclick-booking__book-button-container,
.bs-oneclick-booking__book-button {
  width: 100%;
}

.bs-oneclick-booking__book-button-container {
  margin: var(--bs-space-size-4) 0;
}

.bs-oneclick-booking__booking-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--bs-space-size-1);
}

.bs-oneclick-booking__divider {
  height: 1px;
  width: 100%;
  background-color: var(--bs-color-border-weak);
}

.bs-light-signup-form__field {
  width: 100%;
}
@container bsOneClickBooking (width > 950px) {
  .bs-oneclick-booking__container {
    padding: var(--bs-space-size-8);
  }

  .bs-oneclick-booking__content {
    flex-direction: row;
    gap: var(--bs-space-size-6);
  }

  .bs-oneclick-booking__booking-details {
    width: 40%;
  }

  .bs-oneclick-booking__light-signup-form {
    width: 60%;
  }

  .bs-oneclick-booking__divider {
    display: none;
  }

  .bs-light-signup-form__name-section,
  .bs-light-signup-form__contact-section {
    width: 100%;
    flex-direction: row;
    gap: var(--bs-space-size-4);
  }

  .bs-oneclick-booking__book-button {
    width: auto;
  }

  .bs-oneclick-booking__already-member--mobile {
    display: none;
  }

  .bs-oneclick-booking__already-member--desktop {
    display: flex;
    align-items: center;
    gap: var(--bs-space-size-1);
  }

  .bs-oneclick-booking__book-button-container {
    margin: 0;
  }
}
