.bs-navigation-app-bar__root {
  display: flex;
  height: var(--bs-navigation-app-bar-height);
  padding: var(--bs-space-size-4) var(--bs-space-size-8);
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--bs-space-size-4);
  background: var(--bs-color-action-light);
  box-shadow: var(--bs-shadow-s);
  border-bottom: 1px solid var(--bs-grey-100);
  container: bsNavigationAppBar / inline-size;
}
