.bs-search__input:focus,
.bs-search__input__icon:focus {
    outline: none;
}

.bs-search__input__icon:hover,
.bs-search__input__icon:focus,
.bs-search__results__container__list:focus {
    background-color: rgba(10, 109, 242, 0.04);
}

.bs-search__input__icon {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--color-primary-main);
    cursor: pointer;
    border-radius: 999px;
}

.bs-search__container {
    display: flex;
    background: var(--color-background-paper);
    border: solid 2px var(--color-primary-main);
    border-radius: var(--border-radius-10);
    width: fit-content;
    min-width: 400px;
    position: relative;
}

.bs-search__input__container {
    height: 32px;
    padding: 0 12px;
    display: flex;
    flex: 1;
}

.bs-search__input {
    font-family: var(--body2-fontFamily);
    font-size: var(--body2-fontSize);
    border: none;
    padding: 0 12px;
    height: 32px;
    flex: 1;
}

.bs-search__input__icon {
    width: 32px;
    height: 32px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bs-search__results__container {
    display: flex;
    position: absolute;
    background: var(--color-background-paper);
    width: 100%;
    top: calc(32px + 12px);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    z-index: 1;
    min-height: var(--spacing-8);
}

.bs-search__results__container__list__placeholder__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.bs-search__results__container__list__placeholder {
    font-family: var(--body2-fontFamily);
    font-size: var(--body2-fontSize);
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .bs-search__container {
        min-width: 0;
        width: 100%;
    }
}