{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "transform-flow-strip-types",
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "#libs": "./src/libs",
          "#components": "./src/components",
          "#marketplacecomponents": "./src/libs/marketplace/components",
          "#csscomponents": "./src/components/css-only",
          "#hocs": "./src/hocs",
          "#hooks": "./src/hooks",
          "#utils": "./src/utils",
          "#Fabrique": "./src/components/css-only/Fabrique",
          "#untitledui": "./src/components/untitledui"
        }
      }
    ]
  ]
}
