{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    [
      "babel-plugin-module-resolver",
      {
        "alias": {
          "#src": "./src",
          "#components": "./src/components",
          "#marketplacecomponents": "./src/libs/marketplace/components",
          "#Fabrique": "./src/components/css-only/Fabrique",
        }
      }
    ]
  ]
}