{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript",
  ],
  "plugins": ["transform-flow-strip-types",
    ["babel-plugin-module-resolver", {
      "alias": {
        "#libs": "./src/libs",
        "#components": "./src/components",
        "#hocs": "./src/hocs",
      }
    }]
  ]
}