**/FormField.component.js
**/registerServiceWorker.js
**/Marketing*js
**/*stories*
**/*story*

**/RuleCard.component.js
**/AvatarUploader.component.js


// packages not compiling to ES5 thus placed in src/
**/external-modules/**
