**/FormField.component.js
**/registerServiceWorker.js
**/Marketing*js
**/*stories*
**/*story*

**/RuleCard.component.js
**/AvatarUploader.component.js
**./jitsi_external_api.js
**/env.js
**/actions/utils.js


// packages not compiling to ES5 thus placed in src/
**/external-modules/**
