# Build folders
**/build
**/dist
**/.next
**/coverage

# node_modules
node_modules
**/node_modules

**/.DS_Store

**/.tmp

# local logs
**/log
*.log

# env files
**/.env.*.local
**/.env.local

# Code editors
*.vscode
*/.vscode
.idea

deployment-manifest

# +----------------------------+
# |    Keep .gitkeep files     |
# +----------------------------+-------------------------------+
# | To keep an empty directory, add a .gitkeep file to it      |
# | and ignore the directory with a wildcard:                  |
# |                                                            |
# |     /path/to/dir/*                                         |
# |                                                            |
# | this will ignore the content but not the director itself.  |
# +------------------------------------------------------------+
!/**/.gitkeep

# __tmp__ folders in any folders can be used to store temporary files or local scripts
**/__tmp__

# NX
.nx/cache
.nx/workspace-data

# Storybook
storybook-static

# Rollup
.rollup.cache

# pnpm store, to prevent nx from reading it
pnpm-store
**/pnpm-store
.pnpm-store
**/.pnpm-store
.pnpm
**/.pnpm

# Vite
vite.config.*.timestamp*
vitest.config.*.timestamp*

# Translation files
**/public/locales

# Module Federation
**/.__mf__temp

# CLAUDE
CLAUDE.md
.claude

# Windsurf
.windsurfrules

# Cursor
.cursorrules

# GEMINI
GEMINI.md

# Opencode AI
AGENTS.md

# logs
logs
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
