# This file is symlinked in all projects as otherwise Prettier ignores it.
# https://github.com/prettier/prettier/issues/4081
#
# Please be mindful when modifying this file.

**/.git
**/node_modules

# Build artifacts
**/build
**/coverage

# Ignore generated locales
**/locales/**/*
tools/i18n-management/src/source/translations.json

# Ignore supernova exports
**/supernova/**/*
