.bs-marketplace-appointment-pass-card__root {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--bs-space-size-4);
  max-width: 400px;
  min-width: 364px;
}

.bs-marketplace-appointment-pass-card__header {
  width: 100%;
}

.bs-marketplace-appointment-pass-card__description {
  color: var(--bs-color-text-weak);
}

.bs-marketplace-appointment-pass-card__content {
  display: flex;
  flex-direction: row;
  gap: var(--bs-space-size-4);
  width: 100%;
}

.bs-marketplace-appointment-pass-card__divider {
  border: 1px solid var(--bs-color-border-default);
}

.bs-marketplace-appointment-pass-card__footer {
  display: flex;
  gap: var(--bs-space-size-2);
  width: 100%;
}

.bs-marketplace-appointment-pass-card__detail-button {
  flex: 1;
}

.bs-marketplace-appointment-pass-card__buy-button {
  flex: 3;
}

@container marketplace-layout (max-width:400px) {
  .bs-marketplace-appointment-pass-card__root {
    width: 100%;
    min-width: unset;
  }
  .bs-marketplace-appointment-pass-card__footer {
    flex-direction: column;
  }
  .bs-marketplace-appointment-pass-card__buy-button {
    order: -1;
    flex: 1;
  }
}
