/* @debt(4,4,1): 
  Deprecated CSS code that provides an extra protective layer preventing studio custom CSS from being applied  
  This file is used to ensure that the signup page has a consistent layout and style across different contexts. 
  Do not change or remove this file without first checking with the team.
*/
.bs-signup-container--default {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--spacing-1);
  width: 100%;
  overflow: auto;
  height: 92vh;
}

/* @debt(4,4,1):
  Deprecated CSS code that provides an extra protective layer preventing studio custom CSS from being applied  
  This file is used to ensure that the signup page has a consistent layout and style across different contexts. 
  Do not change or remove this file without first checking with the team.
*/
.bs-signup-container--no_pop_up {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--spacing-1);
  width: 100%;
  /* overflow: auto; */
  /* height: 92vh; */
}

/* @debt(4,4,1):
  Deprecated CSS code that provides an extra protective layer preventing studio custom CSS from being applied  
  This file is used to ensure that the signup page has a consistent layout and style across different contexts. 
  Do not change or remove this file without first checking with the team.
*/
.bs-signup-container--widget {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--spacing-1);
  width: 100%;
  overflow: auto;
  height: 100%;
  margin-top: 0px;
}

.bs-signup-container--margin-top {
  width: 100%;
  height: 100%;
  margin-top: 8vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bs-signup-container__custom-form {
  margin-bottom: var(--spacing-14);
  padding: var(--spacing-4);
  width: 60%;
}

@container (max-width: 600px) {
  .bs-signup-container--margin-top {
    margin-top: var(--spacing-4);
  }
  .bs-signup-container__custom-form {
    padding: var(--spacing-1);
    padding-bottom: var(--spacing-4);
    width: 100%;
  }
}

@container (max-width: 960px) and (min-width: 600px) {
  .bs-signup-container__custom-form {
    width: 100%;
  }
}

@container (max-width: 1280px) and (min-width: 960px) {
  .bs-signup-container__custom-form {
    width: 80%;
  }
}
