.bs-app-bar__root {
  display: flex;
  height: 72px;
  padding: var(--bs-space-size-4, 16px) var(--bs-space-size-8, 32px);
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--bs-space-size-4, 16px);
  flex: 1 0 0;
  background: var(--bs-color-action-light, #fff);
  /* shadow-sm */
  box-shadow: var(--bs-shadow-s);
}

/* LOGO */
.bs-app-bar-logo__button__container {
}

.bs-app-bar-logo__image {
  height: 40px;
}

/*Right buttons*/
.bs-app-bar-right-buttons__root {
}

/*Menu button */
.bs-app-bar__left-section {
  display: flex;
  align-items: center;
  gap: var(--bs-space-size-2);
}

.bs-app-bar__left-section__menu-button {
}

.bs-app-bar__left-section__menu-button--hidden {
  display: none;
}
