@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .dark {
    --kz-bsport-turquoise-alpha-0: 14 175 191;
    --kz-bsport-turquoise-alpha-100: 13 14 63;
    --kz-bsport-turquoise-alpha-200: 9 157 141;
    --kz-bsport-turquoise-alpha-300: 8 204 92;
    --kz-bsport-turquoise-alpha-400: 3 105 42;
    --kz-bsport-turquoise-alpha-500: 2 72 89;
    --kz-bsport-turquoise-alpha-600: 2 55 24;
    --kz-bsport-turquoise-alpha-700: 0 102 246;
    --kz-bsport-turquoise-alpha-800: 0 2 67;
    --kz-bsport-turquoise-alpha-900: 0 161 17;
    --kz-bsport-turquoise-alpha-1000: 0 96 0;
    --kz-luna-grey-0: 15 255 255;
    --kz-luna-grey-50: 15 207 159;
    --kz-luna-grey-100: 14 159 255;
    --kz-luna-grey-200: 14 174 30;
    --kz-luna-grey-300: 12 29 77;
    --kz-luna-grey-400: 10 250 58;
    --kz-luna-grey-500: 7 120 200;
    --kz-luna-grey-600: 5 229 101;
    --kz-luna-grey-700: 3 195 83;
    --kz-luna-grey-800: 1 50 226;
    --kz-luna-grey-900: 1 49 33;
    --kz-luna-grey-1000: 0 208 192;
    --kz-luna-grey-alpha-0: 1 49 82;
    --kz-alpha-0: 0 0 0;
    --kz-luna-grey-alpha-50: 1 49 82;
    --kz-luna-grey-alpha-100: 1 49 82;
    --kz-luna-grey-alpha-200: 1 49 82;
    --kz-luna-grey-alpha-300: 1 49 82;
    --kz-luna-grey-alpha-400: 1 49 82;
    --kz-luna-grey-alpha-500: 1 49 82;
    --kz-luna-grey-alpha-600: 1 49 82;
    --kz-luna-grey-alpha-700: 1 49 82;
    --kz-luna-grey-alpha-800: 1 49 82;
    --kz-luna-grey-alpha-900: 1 49 82;
    --kz-luna-white-alpha-0: 15 255 255;
    --kz-luna-white-alpha-50: 15 255 255;
    --kz-luna-white-alpha-100: 15 255 255;
    --kz-luna-white-alpha-200: 15 255 255;
    --kz-luna-white-alpha-300: 15 255 255;
    --kz-luna-white-alpha-400: 15 255 255;
    --kz-luna-white-alpha-500: 15 255 255;
    --kz-luna-white-alpha-600: 15 255 255;
    --kz-luna-white-alpha-700: 15 255 255;
    --kz-luna-white-alpha-800: 15 255 255;
    --kz-luna-white-alpha-900: 15 255 255;
    --kz-terra-green-0: 14 206 143;
    --kz-terra-green-100: 12 124 63;
    --kz-terra-green-200: 9 154 174;
    --kz-terra-green-300: 6 23 253;
    --kz-terra-green-400: 4 244 122;
    --kz-terra-green-500: 2 66 120;
    --kz-terra-green-600: 1 129 37;
    --kz-terra-green-700: 0 48 115;
    --kz-terra-green-800: 0 160 49;
    --kz-terra-green-900: 0 176 16;
    --kz-terra-green-1000: 0 80 0;
    --kz-neptune-blue-0: 14 63 143;
    --kz-neptune-blue-100: 12 15 62;
    --kz-neptune-blue-200: 9 94 172;
    --kz-neptune-blue-300: 6 93 250;
    --kz-neptune-blue-400: 4 186 71;
    --kz-neptune-blue-500: 2 168 117;
    --kz-neptune-blue-600: 1 118 100;
    --kz-neptune-blue-700: 0 4 179;
    --kz-neptune-blue-800: 0 241 48;
    --kz-neptune-blue-900: 0 96 16;
    --kz-neptune-blue-1000: 0 48 0;
    --kz-aurora-orange-0: 15 190 255;
    --kz-aurora-orange-100: 15 60 239;
    --kz-aurora-orange-200: 15 104 222;
    --kz-aurora-orange-300: 15 52 205;
    --kz-aurora-orange-400: 15 242 187;
    --kz-aurora-orange-500: 15 224 89;
    --kz-aurora-orange-600: 13 112 151;
    --kz-aurora-orange-700: 11 48 69;
    --kz-aurora-orange-800: 9 0 36;
    --kz-aurora-orange-900: 5 160 226;
    --kz-aurora-orange-1000: 2 16 97;
    --kz-cupid-red-0: 15 142 206;
    --kz-cupid-red-100: 15 60 124;
    --kz-cupid-red-200: 14 170 153;
    --kz-cupid-red-300: 13 248 22;
    --kz-cupid-red-400: 10 37 52;
    --kz-cupid-red-500: 8 115 66;
    --kz-cupid-red-600: 7 146 129;
    --kz-cupid-red-700: 5 193 64;
    --kz-cupid-red-800: 1 48 160;
    --kz-cupid-red-900: 0 16 176;
    --kz-cupid-red-1000: 0 0 80;
    --kz-shadow-status-positive: var(--kz-luna-grey-alpha-0);
    --kz-shadow-status-critical: var(--kz-luna-grey-alpha-0);
    --kz-bsport-turquoise-0: 14 175 191;
    --kz-bsport-turquoise-100: 13 14 143;
    --kz-bsport-turquoise-200: 9 157 141;
    --kz-bsport-turquoise-300: 8 204 92;
    --kz-bsport-turquoise-400: 3 105 42;
    --kz-bsport-turquoise-500: 2 72 89;
    --kz-bsport-turquoise-600: 2 55 24;
    --kz-bsport-turquoise-700: 0 102 246;
    --kz-bsport-turquoise-800: 0 2 67;
    --kz-bsport-turquoise-900: 0 161 17;
    --kz-bsport-turquoise-1000: 0 96 0;
    --kz-surface-page: var(--kz-luna-grey-1000);
    --kz-surface-page-navigation: var(--kz-luna-grey-1000);
    --kz-surface-default: var(--kz-luna-grey-800);
    --kz-surface-default-elevated: var(--kz-luna-grey-700);
    --kz-surface-default-weak: var(--kz-luna-grey-900);
    --kz-surface-default-weaker: var(--kz-luna-grey-900);
    --kz-surface-default-weakest: var(--kz-luna-grey-900);
    --kz-surface-main-strong: var(--kz-bsport-turquoise-300);
    --kz-surface-main-weak: var(--kz-bsport-turquoise-900);
    --kz-surface-default-strong: var(--kz-luna-grey-100);
    --kz-surface-status-info-strong: var(--kz-neptune-blue-300);
    --kz-surface-status-positive-strong: var(--kz-terra-green-400);
    --kz-surface-status-positive-weak: var(--kz-terra-green-800);
    --kz-surface-status-info-weak: var(--kz-neptune-blue-800);
    --kz-surface-status-warning-strong: var(--kz-aurora-orange-500);
    --kz-surface-status-critical-strong: var(--kz-cupid-red-300);
    --kz-surface-status-critical-weak: var(--kz-cupid-red-800);
    --kz-surface-overlay: var(--kz-luna-white-alpha-700);
    --kz-surface-status-warning-weak: var(--kz-aurora-orange-1000);
    --kz-stroke-main: var(--kz-bsport-turquoise-300);
    --kz-stroke-default: var(--kz-luna-grey-700);
    --kz-stroke-strong: var(--kz-luna-grey-700);
    --kz-stroke-divider: var(--kz-luna-grey-800);
    --kz-stroke-action-default-rest: var(--kz-luna-grey-900);
    --kz-stroke-action-default-hovered: var(--kz-luna-grey-700);
    --kz-stroke-action-default-pressed: var(--kz-luna-grey-500);
    --kz-stroke-action-default-disabled: var(--kz-luna-grey-500);
    --kz-stroke-action-default-selected: var(--kz-bsport-turquoise-600);
    --kz-stroke-status-info: var(--kz-neptune-blue-400);
    --kz-stroke-status-positive: var(--kz-terra-green-500);
    --kz-stroke-status-warning: var(--kz-aurora-orange-600);
    --kz-stroke-status-critical: var(--kz-cupid-red-400);
    --kz-surface-action-main-strong-rest: var(--kz-bsport-turquoise-300);
    --kz-surface-action-main-strong-hovered: var(--kz-bsport-turquoise-400);
    --kz-surface-action-main-strong-pressed: var(--kz-bsport-turquoise-600);
    --kz-surface-action-main-strong-selected: var(--kz-bsport-turquoise-600);
    --kz-surface-action-main-strong-disabled: var(--kz-luna-white-alpha-100);
    --kz-surface-action-plain-rest: var(--kz-alpha-0);
    --kz-surface-action-plain-hovered: var(--kz-luna-grey-700);
    --kz-surface-action-plain-onstrong-rest: var(--kz-alpha-0);
    --kz-surface-action-plain-onstrong-hovered: var(--kz-luna-grey-alpha-300);
    --kz-surface-action-plain-onstrong-pressed: var(--kz-luna-grey-alpha-200);
    --kz-surface-action-plain-pressed: var(--kz-luna-grey-500);
    --kz-surface-action-main-weak-rest: var(--kz-bsport-turquoise-700);
    --kz-surface-action-main-weak-hovered: var(--kz-bsport-turquoise-600);
    --kz-surface-action-disabled: var(--kz-luna-white-alpha-100);
    --kz-surface-action-main-weak-pressed: var(--kz-bsport-turquoise-800);
    --kz-surface-action-elevated-rest: var(--kz-luna-grey-800);
    --kz-surface-action-critical-strong-rest: var(--kz-cupid-red-600);
    --kz-surface-action-critical-weak-rest: var(--kz-cupid-red-500);
    --kz-surface-action-critical-weak-hovered: var(--kz-cupid-red-500);
    --kz-surface-action-critical-weak-pressed: var(--kz-cupid-red-700);
    --kz-surface-action-critical-strong-hovered: var(--kz-cupid-red-500);
    --kz-surface-action-critical-strong-pressed: var(--kz-cupid-red-700);
    --kz-surface-action-elevated-hovered: var(--kz-luna-grey-600);
    --kz-surface-action-elevated-pressed: var(--kz-luna-grey-800);
    --kz-surface-action-elevated-selected: var(--kz-bsport-turquoise-800);
    --kz-onsurface-default-onstrong: var(--kz-luna-grey-900);
    --kz-onsurface-default: var(--kz-bsport-turquoise-0);
    --kz-onsurface-main-strong: var(--kz-bsport-turquoise-0);
    --kz-onsurface-main-weak: var(--kz-bsport-turquoise-0);
    --kz-onsurface-action-main-rest: var(--kz-bsport-turquoise-0);
    --kz-onsurface-action-main-hovered: var(--kz-bsport-turquoise-0);
    --kz-onsurface-action-main-pressed: var(--kz-bsport-turquoise-0);
    --kz-onsurface-action-main-selected: var(--kz-bsport-turquoise-200);
    --kz-onsurface-action-main-disabled: var(--kz-luna-white-alpha-500);
    --kz-onsurface-weak: var(--kz-luna-grey-300);
    --kz-onsurface-weaker: var(--kz-luna-grey-500);
    --kz-onsurface-disabled: var(--kz-luna-grey-600);
    --kz-shadow-weak: var(--kz-luna-grey-alpha-200);
    --kz-onsurface-link-rest: var(--kz-bsport-turquoise-300);
    --kz-onsurface-link-hovered: var(--kz-bsport-turquoise-200);
    --kz-onsurface-link-pressed: var(--kz-bsport-turquoise-400);
    --kz-onsurface-status-info-strong: var(--kz-neptune-blue-0);
    --kz-onsurface-status-info-weak: var(--kz-neptune-blue-100);
    --kz-onsurface-status-info-onstrong: var(--kz-neptune-blue-600);
    --kz-onsurface-status-positive-strong: var(--kz-terra-green-0);
    --kz-onsurface-status-positive-weak: var(--kz-terra-green-100);
    --kz-onsurface-status-positive-onstrong: var(--kz-terra-green-700);
    --kz-onsurface-status-warning-strong: var(--kz-aurora-orange-0);
    --kz-onsurface-status-critical-strong: var(--kz-cupid-red-0);
    --kz-onsurface-status-critical-weak: var(--kz-cupid-red-100);
    --kz-onsurface-status-critical-onstrong: var(--kz-cupid-red-700);
    --kz-onsurface-status-warning-weak: var(--kz-aurora-orange-200);
    --kz-onsurface-status-warning-onstrong: var(--kz-aurora-orange-900);
    --kz-shadow-action-default-rest: var(--kz-luna-grey-alpha-0);
    --kz-shadow-action-default-hovered: var(--kz-luna-grey-alpha-300);
    --kz-shadow-action-default-pressed: var(--kz-luna-grey-alpha-200);
    --kz-shadow-action-default-selected: var(--kz-bsport-turquoise-800);
    --kz-shadow-action-brand-rest: var(--kz-luna-grey-800);
    --kz-shadow-action-brand-hovered: var(--kz-luna-grey-900);
    --kz-shadow-action-brand-pressed: var(--kz-luna-grey-900);
    --kz-shadow-action-brand-selected: var(--kz-bsport-turquoise-800);
    --kz-onsurface-action-default: var(--kz-bsport-turquoise-0);
    --kz-onsurface-action-critical: var(--kz-bsport-turquoise-0);
    --kz-shadow-strong: var(--kz-luna-grey-alpha-200);
  }


  .light {
    --kz-bsport-turquoise-alpha-0: 14 175 191;
    --kz-bsport-turquoise-alpha-100: 13 14 63;
    --kz-bsport-turquoise-alpha-200: 9 157 141;
    --kz-bsport-turquoise-alpha-300: 8 204 92;
    --kz-bsport-turquoise-alpha-400: 3 105 42;
    --kz-bsport-turquoise-alpha-500: 2 72 89;
    --kz-bsport-turquoise-alpha-600: 2 55 24;
    --kz-bsport-turquoise-alpha-700: 0 102 246;
    --kz-bsport-turquoise-alpha-800: 0 2 67;
    --kz-bsport-turquoise-alpha-900: 0 161 17;
    --kz-bsport-turquoise-alpha-1000: 0 96 0;
    --kz-luna-grey-0: 15 255 255;
    --kz-luna-grey-50: 15 207 159;
    --kz-luna-grey-100: 14 159 255;
    --kz-luna-grey-200: 14 174 30;
    --kz-luna-grey-300: 12 29 77;
    --kz-luna-grey-400: 10 250 58;
    --kz-luna-grey-500: 7 120 200;
    --kz-luna-grey-600: 5 229 101;
    --kz-luna-grey-700: 3 195 83;
    --kz-luna-grey-800: 1 50 226;
    --kz-luna-grey-900: 1 49 33;
    --kz-luna-grey-1000: 0 208 192;
    --kz-luna-grey-alpha-0: 1 49 82;
    --kz-alpha-0: 0 0 0;
    --kz-luna-grey-alpha-50: 1 49 82;
    --kz-luna-grey-alpha-100: 1 49 82;
    --kz-luna-grey-alpha-200: 1 49 82;
    --kz-luna-grey-alpha-300: 1 49 82;
    --kz-luna-grey-alpha-400: 1 49 82;
    --kz-luna-grey-alpha-500: 1 49 82;
    --kz-luna-grey-alpha-600: 1 49 82;
    --kz-luna-grey-alpha-700: 1 49 82;
    --kz-luna-grey-alpha-800: 1 49 82;
    --kz-luna-grey-alpha-900: 1 49 82;
    --kz-luna-white-alpha-0: 15 255 255;
    --kz-luna-white-alpha-50: 15 255 255;
    --kz-luna-white-alpha-100: 15 255 255;
    --kz-luna-white-alpha-200: 15 255 255;
    --kz-luna-white-alpha-300: 15 255 255;
    --kz-luna-white-alpha-400: 15 255 255;
    --kz-luna-white-alpha-500: 15 255 255;
    --kz-luna-white-alpha-600: 15 255 255;
    --kz-luna-white-alpha-700: 15 255 255;
    --kz-luna-white-alpha-800: 15 255 255;
    --kz-luna-white-alpha-900: 15 255 255;
    --kz-terra-green-0: 14 206 143;
    --kz-terra-green-100: 12 124 63;
    --kz-terra-green-200: 9 154 174;
    --kz-terra-green-300: 6 23 253;
    --kz-terra-green-400: 4 244 122;
    --kz-terra-green-500: 2 66 120;
    --kz-terra-green-600: 1 129 37;
    --kz-terra-green-700: 0 48 115;
    --kz-terra-green-800: 0 160 49;
    --kz-terra-green-900: 0 176 16;
    --kz-terra-green-1000: 0 80 0;
    --kz-neptune-blue-0: 14 63 143;
    --kz-neptune-blue-100: 12 15 62;
    --kz-neptune-blue-200: 9 94 172;
    --kz-neptune-blue-300: 6 93 250;
    --kz-neptune-blue-400: 4 186 71;
    --kz-neptune-blue-500: 2 168 117;
    --kz-neptune-blue-600: 1 118 100;
    --kz-neptune-blue-700: 0 4 179;
    --kz-neptune-blue-800: 0 241 48;
    --kz-neptune-blue-900: 0 96 16;
    --kz-neptune-blue-1000: 0 48 0;
    --kz-aurora-orange-0: 15 190 255;
    --kz-aurora-orange-100: 15 60 239;
    --kz-aurora-orange-200: 15 104 222;
    --kz-aurora-orange-300: 15 52 205;
    --kz-aurora-orange-400: 15 242 187;
    --kz-aurora-orange-500: 15 224 89;
    --kz-aurora-orange-600: 13 112 151;
    --kz-aurora-orange-700: 11 48 69;
    --kz-aurora-orange-800: 9 0 36;
    --kz-aurora-orange-900: 5 160 226;
    --kz-aurora-orange-1000: 2 16 97;
    --kz-cupid-red-0: 15 142 206;
    --kz-cupid-red-100: 15 60 124;
    --kz-cupid-red-200: 14 170 153;
    --kz-cupid-red-300: 13 248 22;
    --kz-cupid-red-400: 10 37 52;
    --kz-cupid-red-500: 8 115 66;
    --kz-cupid-red-600: 7 146 129;
    --kz-cupid-red-700: 5 193 64;
    --kz-cupid-red-800: 1 48 160;
    --kz-cupid-red-900: 0 16 176;
    --kz-cupid-red-1000: 0 0 80;
    --kz-shadow-status-positive: 1 129 37;
    --kz-shadow-status-critical: 8 115 66;
    --kz-bsport-turquoise-0: 14 175 191;
    --kz-bsport-turquoise-100: 13 14 143;
    --kz-bsport-turquoise-200: 9 157 141;
    --kz-bsport-turquoise-300: 8 204 92;
    --kz-bsport-turquoise-400: 3 105 42;
    --kz-bsport-turquoise-500: 2 72 89;
    --kz-bsport-turquoise-600: 2 55 24;
    --kz-bsport-turquoise-700: 0 102 246;
    --kz-bsport-turquoise-800: 0 2 67;
    --kz-bsport-turquoise-900: 0 161 17;
    --kz-bsport-turquoise-1000: 0 96 0;
    --kz-surface-page: var(--kz-luna-grey-50);
    --kz-surface-page-navigation: var(--kz-luna-grey-0);
    --kz-surface-default: var(--kz-luna-grey-0);
    --kz-surface-default-elevated: var(--kz-luna-grey-0);
    --kz-surface-default-weak: var(--kz-luna-grey-50);
    --kz-surface-default-weaker: var(--kz-luna-grey-alpha-100);
    --kz-surface-default-weakest: var(--kz-luna-white-alpha-300);
    --kz-surface-main-strong: var(--kz-bsport-turquoise-700);
    --kz-surface-main-weak: var(--kz-bsport-turquoise-0);
    --kz-surface-default-strong: var(--kz-luna-grey-700);
    --kz-surface-status-info-strong: var(--kz-neptune-blue-500);
    --kz-surface-status-positive-strong: var(--kz-terra-green-500);
    --kz-surface-status-positive-weak: var(--kz-terra-green-0);
    --kz-surface-status-info-weak: var(--kz-neptune-blue-0);
    --kz-surface-status-warning-strong: var(--kz-aurora-orange-700);
    --kz-surface-status-critical-strong: var(--kz-cupid-red-500);
    --kz-surface-status-critical-weak: var(--kz-cupid-red-0);
    --kz-surface-overlay: var(--kz-luna-grey-alpha-700);
    --kz-surface-status-warning-weak: var(--kz-aurora-orange-0);
    --kz-stroke-main: var(--kz-bsport-turquoise-500);
    --kz-stroke-default: var(--kz-luna-grey-alpha-200);
    --kz-stroke-strong: var(--kz-luna-grey-alpha-400);
    --kz-stroke-divider: var(--kz-luna-grey-alpha-200);
    --kz-stroke-action-default-rest: var(--kz-luna-grey-alpha-300);
    --kz-stroke-action-default-hovered: var(--kz-luna-grey-alpha-400);
    --kz-stroke-action-default-pressed: var(--kz-luna-grey-alpha-500);
    --kz-stroke-action-default-disabled: var(--kz-luna-grey-alpha-200);
    --kz-stroke-action-default-selected: var(--kz-bsport-turquoise-600);
    --kz-stroke-status-info: var(--kz-neptune-blue-300);
    --kz-stroke-status-positive: var(--kz-terra-green-300);
    --kz-stroke-status-warning: var(--kz-aurora-orange-400);
    --kz-stroke-status-critical: var(--kz-cupid-red-300);
    --kz-surface-action-main-strong-rest: var(--kz-bsport-turquoise-600);
    --kz-surface-action-main-strong-hovered: var(--kz-bsport-turquoise-500);
    --kz-surface-action-main-strong-pressed: var(--kz-bsport-turquoise-700);
    --kz-surface-action-main-strong-selected: var(--kz-bsport-turquoise-300);
    --kz-surface-action-main-strong-disabled: var(--kz-luna-grey-alpha-200);
    --kz-surface-action-plain-rest: var(--kz-alpha-0);
    --kz-surface-action-plain-hovered: var(--kz-luna-grey-alpha-100);
    --kz-surface-action-plain-onstrong-rest: var(--kz-alpha-0);
    --kz-surface-action-plain-onstrong-hovered: var(--kz-luna-white-alpha-300);
    --kz-surface-action-plain-onstrong-pressed: var(--kz-luna-white-alpha-500);
    --kz-surface-action-plain-pressed: var(--kz-luna-grey-alpha-300);
    --kz-surface-action-main-weak-rest: var(--kz-bsport-turquoise-alpha-0);
    --kz-surface-action-main-weak-hovered: var(--kz-bsport-turquoise-alpha-100);
    --kz-surface-action-disabled: var(--kz-luna-grey-alpha-100);
    --kz-surface-action-main-weak-pressed: var(--kz-bsport-turquoise-alpha-200);
    --kz-surface-action-elevated-rest: var(--kz-luna-grey-0);
    --kz-surface-action-critical-strong-rest: var(--kz-cupid-red-500);
    --kz-surface-action-critical-weak-rest: var(--kz-alpha-0);
    --kz-surface-action-critical-weak-hovered: var(--kz-cupid-red-0);
    --kz-surface-action-critical-weak-pressed: var(--kz-cupid-red-100);
    --kz-surface-action-critical-strong-hovered: var(--kz-cupid-red-400);
    --kz-surface-action-critical-strong-pressed: var(--kz-cupid-red-600);
    --kz-surface-action-elevated-hovered: var(--kz-luna-grey-100);
    --kz-surface-action-elevated-pressed: var(--kz-luna-grey-200);
    --kz-surface-action-elevated-selected: var(--kz-bsport-turquoise-0);
    --kz-onsurface-default-onstrong: var(--kz-luna-grey-0);
    --kz-onsurface-default: var(--kz-bsport-turquoise-900);
    --kz-onsurface-main-strong: var(--kz-bsport-turquoise-700);
    --kz-onsurface-main-weak: var(--kz-bsport-turquoise-400);
    --kz-onsurface-action-main-rest: var(--kz-bsport-turquoise-800);
    --kz-onsurface-action-main-hovered: var(--kz-bsport-turquoise-700);
    --kz-onsurface-action-main-pressed: var(--kz-bsport-turquoise-900);
    --kz-onsurface-action-main-selected: var(--kz-bsport-turquoise-700);
    --kz-onsurface-action-main-disabled: var(--kz-luna-grey-alpha-400);
    --kz-onsurface-weak: var(--kz-luna-grey-600);
    --kz-onsurface-weaker: var(--kz-luna-grey-400);
    --kz-onsurface-disabled: var(--kz-luna-grey-alpha-300);
    --kz-shadow-weak: var(--kz-luna-grey-alpha-200);
    --kz-onsurface-link-rest: var(--kz-bsport-turquoise-600);
    --kz-onsurface-link-hovered: var(--kz-bsport-turquoise-500);
    --kz-onsurface-link-pressed: var(--kz-bsport-turquoise-700);
    --kz-onsurface-status-info-strong: var(--kz-neptune-blue-500);
    --kz-onsurface-status-info-weak: var(--kz-neptune-blue-400);
    --kz-onsurface-status-info-onstrong: var(--kz-neptune-blue-100);
    --kz-onsurface-status-positive-strong: var(--kz-terra-green-600);
    --kz-onsurface-status-positive-weak: var(--kz-terra-green-500);
    --kz-onsurface-status-positive-onstrong: var(--kz-terra-green-100);
    --kz-onsurface-status-warning-strong: var(--kz-aurora-orange-700);
    --kz-onsurface-status-critical-strong: var(--kz-cupid-red-500);
    --kz-onsurface-status-critical-weak: var(--kz-cupid-red-400);
    --kz-onsurface-status-critical-onstrong: var(--kz-cupid-red-100);
    --kz-onsurface-status-warning-weak: var(--kz-aurora-orange-600);
    --kz-onsurface-status-warning-onstrong: var(--kz-aurora-orange-0);
    --kz-shadow-action-default-rest: var(--kz-luna-grey-alpha-100);
    --kz-shadow-action-default-hovered: var(--kz-luna-grey-alpha-200);
    --kz-shadow-action-default-pressed: var(--kz-luna-grey-alpha-100);
    --kz-shadow-action-default-selected: var(--kz-bsport-turquoise-100);
    --kz-shadow-action-brand-rest: var(--kz-bsport-turquoise-alpha-100);
    --kz-shadow-action-brand-hovered: var(--kz-bsport-turquoise-alpha-500);
    --kz-shadow-action-brand-pressed: var(--kz-bsport-turquoise-alpha-500);
    --kz-shadow-action-brand-selected: var(--kz-bsport-turquoise-alpha-400);
    --kz-onsurface-action-default: var(--kz-bsport-turquoise-800);
    --kz-onsurface-action-critical: var(--kz-cupid-red-500);
    --kz-shadow-strong: var(--kz-luna-grey-alpha-300);
  }
}
