@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kz-border-width-stroke-thin: 1px;
  --kz-border-width-stroke-regular: 2px;
  --kz-border-width-stroke-bold: 4px;
  --kz-border-radius-xl: 16px;
  --kz-border-radius-lg: 12px;
  --kz-border-radius-md: 8px;
  --kz-border-radius-sm: 6px;
  --kz-border-radius-xs: 4px;
  --kz-border-radius-square: 0px;
  --kz-border-radius-circle: 999px;
  --kz-color-luna-grey-0: 255, 255, 255, 1;
  --kz-color-luna-grey-50: 249, 252, 252, 1;
  --kz-color-luna-grey-100: 247, 249, 249, 1;
  --kz-color-luna-grey-200: 229, 234, 234, 1;
  --kz-color-luna-grey-300: 201, 209, 208, 1;
  --kz-color-luna-grey-400: 166, 175, 174, 1;
  --kz-color-luna-grey-500: 127, 135, 134, 1;
  --kz-color-luna-grey-600: 86, 94, 93, 1;
  --kz-color-luna-grey-700: 53, 60, 60, 1;
  --kz-color-luna-grey-800: 30, 35, 35, 1;
  --kz-color-luna-grey-900: 18, 19, 19, 1;
  --kz-color-luna-grey-1000: 12, 13, 13, 1;
  --kz-color-terra-green-0: 232, 252, 234, 1;
  --kz-color-terra-green-100: 195, 247, 200, 1;
  --kz-color-terra-green-200: 154, 233, 160, 1;
  --kz-color-terra-green-300: 111, 209, 119, 1;
  --kz-color-terra-green-400: 71, 175, 79, 1;
  --kz-color-terra-green-500: 39, 132, 47, 1;
  --kz-color-terra-green-600: 18, 88, 24, 1;
  --kz-color-terra-green-700: 7, 51, 11, 1;
  --kz-color-terra-green-800: 3, 26, 4, 1;
  --kz-color-terra-green-900: 1, 11, 2, 1;
  --kz-color-terra-green-1000: 0, 5, 1, 1;
  --kz-color-neptune-blue-0: 232, 243, 252, 1;
  --kz-color-neptune-blue-100: 195, 224, 247, 1;
  --kz-color-neptune-blue-200: 154, 197, 233, 1;
  --kz-color-neptune-blue-300: 111, 165, 209, 1;
  --kz-color-neptune-blue-400: 68, 123, 169, 1;
  --kz-color-neptune-blue-500: 39, 90, 132, 1;
  --kz-color-neptune-blue-600: 22, 71, 110, 1;
  --kz-color-neptune-blue-700: 11, 48, 77, 1;
  --kz-color-neptune-blue-800: 3, 15, 26, 1;
  --kz-color-neptune-blue-900: 1, 6, 11, 1;
  --kz-color-neptune-blue-1000: 0, 3, 5, 1;
  --kz-color-aurora-orange-0: 255, 251, 235, 1;
  --kz-color-aurora-orange-100: 254, 243, 199, 1;
  --kz-color-aurora-orange-200: 253, 230, 138, 1;
  --kz-color-aurora-orange-300: 252, 211, 77, 1;
  --kz-color-aurora-orange-400: 251, 191, 36, 1;
  --kz-color-aurora-orange-500: 245, 158, 11, 1;
  --kz-color-aurora-orange-600: 217, 119, 6, 1;
  --kz-color-aurora-orange-700: 180, 83, 9, 1;
  --kz-color-aurora-orange-800: 146, 64, 14, 1;
  --kz-color-aurora-orange-900: 94, 42, 12, 1;
  --kz-color-aurora-orange-1000: 38, 17, 5, 1;
  --kz-color-cupid-red-0: 252, 232, 237, 1;
  --kz-color-cupid-red-100: 247, 195, 206, 1;
  --kz-color-cupid-red-200: 233, 154, 171, 1;
  --kz-color-cupid-red-300: 209, 111, 132, 1;
  --kz-color-cupid-red-400: 163, 66, 87, 1;
  --kz-color-cupid-red-500: 132, 39, 59, 1;
  --kz-color-cupid-red-600: 120, 25, 45, 1;
  --kz-color-cupid-red-700: 84, 12, 28, 1;
  --kz-color-cupid-red-800: 26, 3, 8, 1;
  --kz-color-cupid-red-900: 11, 1, 3, 1;
  --kz-color-cupid-red-1000: 5, 0, 1, 1;
  --kz-color-shadow-weak: 61, 77, 71, 0.1;
  --kz-color-shadow-action-brand-selected: 50, 166, 158, 0.5;
  --kz-color-bsport-turquoise-0: 240, 250, 249, 1;
  --kz-color-bsport-turquoise-100: 229, 246, 243, 1;
  --kz-color-bsport-turquoise-200: 190, 237, 229, 1;
  --kz-color-bsport-turquoise-300: 133, 222, 210, 1;
  --kz-color-bsport-turquoise-400: 50, 166, 158, 1;
  --kz-color-bsport-turquoise-500: 37, 148, 141, 1;
  --kz-color-bsport-turquoise-600: 33, 131, 125, 1;
  --kz-color-bsport-turquoise-700: 15, 102, 96, 1;
  --kz-color-bsport-turquoise-800: 4, 48, 45, 1;
  --kz-color-bsport-turquoise-900: 1, 26, 24, 1;
  --kz-color-bsport-turquoise-1000: 0, 6, 5, 1;
  --kz-color-shadow-strong: 92, 103, 99, 0.2;
  --kz-color-surface-action-main-weak-rest: var(
    --kz-color-base-transparent-bsport-turquoise-0
  );
  --kz-color-shadow-action-default-rest: 163, 175, 174, 0.25;
  --kz-color-shadow-action-default-hovered: 163, 175, 174, 0.25;
  --kz-color-test: 201, 0, 175, 0.5;
  --kz-color-base-transparent-bsport-turquoise-0: 37, 148, 141, 0;
  --kz-color-base-transparent-bsport-turquoise-40: 37, 148, 141, 0.04;
  --kz-color-base-transparent-bsport-turquoise-80: 37, 148, 141, 0.08;
  --kz-color-base-transparent-bsport-turquoise-150: 37, 148, 141, 0.15;
  --kz-color-base-transparent-bsport-turquoise-250: 37, 148, 141, 0.25;
  --kz-color-base-transparent-bsport-turquoise-350: 37, 148, 141, 0.35;
  --kz-color-base-transparent-bsport-turquoise-500: 50, 166, 158, 0.5;
  --kz-color-base-transparent-bsport-turquoise-750: 50, 166, 158, 0.75;
  --kz-color-base-transparent-bsport-turquoise-900: 50, 166, 158, 0.9;
  --kz-color-base-transparent-luna-grey-0: 53, 60, 60, 0;
  --kz-color-base-transparent-luna-grey-40: 53, 60, 60, 0.04;
  --kz-color-base-transparent-luna-grey-80: 53, 60, 60, 0.08;
  --kz-color-base-transparent-luna-grey-150: 53, 60, 60, 0.15;
  --kz-color-base-transparent-luna-grey-250: 53, 60, 60, 0.25;
  --kz-color-base-transparent-luna-grey-350: 53, 60, 60, 0.35;
  --kz-color-base-transparent-luna-grey-500: 53, 60, 60, 0.5;
  --kz-color-base-transparent-luna-grey-750: 53, 60, 60, 0.75;
  --kz-color-base-transparent-luna-grey-900: 53, 60, 60, 0.9;
  --kz-color-base-transparent-nix-white-0: 255, 255, 255, 0;
  --kz-color-base-transparent-nix-white-40: 255, 255, 255, 0.04;
  --kz-color-base-transparent-nix-white-80: 255, 255, 255, 0.08;
  --kz-color-base-transparent-nix-white-150: 255, 255, 255, 0.15;
  --kz-color-base-transparent-nix-white-250: 255, 255, 255, 0.25;
  --kz-color-base-transparent-nix-white-350: 255, 255, 255, 0.35;
  --kz-color-base-transparent-nix-white-500: 255, 255, 255, 0.5;
  --kz-color-base-transparent-nix-white-750: 255, 255, 255, 0.75;
  --kz-color-base-transparent-nix-white-900: 255, 255, 255, 0.9;
  --kz-color-base-transparent-cupid-red-0: 132, 39, 59, 0;
  --kz-color-base-transparent-cupid-red-40: 132, 39, 59, 0.04;
  --kz-color-base-transparent-cupid-red-80: 132, 39, 59, 0.08;
  --kz-color-base-transparent-cupid-red-150: 132, 39, 59, 0.15;
  --kz-color-base-transparent-cupid-red-250: 132, 39, 59, 0.25;
  --kz-color-base-transparent-cupid-red-350: 132, 39, 59, 0.35;
  --kz-color-base-transparent-cupid-red-500: 132, 39, 59, 0.5;
  --kz-color-base-transparent-cupid-red-750: 132, 39, 59, 0.75;
  --kz-color-base-transparent-cupid-red-900: 132, 39, 59, 0.9;
  --kz-color-surface-page: var(--kz-color-luna-grey-0);
  --kz-color-surface-page-navigation: var(--kz-color-luna-grey-100);
  --kz-color-surface-default: var(--kz-color-luna-grey-0);
  --kz-color-surface-default-elevated: var(--kz-color-luna-grey-0);
  --kz-color-surface-default-weak: var(--kz-color-luna-grey-200);
  --kz-color-surface-default-weaker: var(--kz-color-luna-grey-100);
  --kz-color-surface-default-weakest: var(--kz-color-luna-grey-50);
  --kz-color-surface-main-strong: var(--kz-color-bsport-turquoise-700);
  --kz-color-surface-main-weak: var(--kz-color-bsport-turquoise-100);
  --kz-color-surface-default-strong: var(--kz-color-luna-grey-700);
  --kz-color-surface-status-info-strong: var(--kz-color-neptune-blue-500);
  --kz-color-surface-status-positive-strong: var(--kz-color-terra-green-500);
  --kz-color-surface-status-positive-weak: var(--kz-color-terra-green-0);
  --kz-color-surface-status-info-weak: var(--kz-color-neptune-blue-0);
  --kz-color-surface-status-warning-strong: var(--kz-color-aurora-orange-700);
  --kz-color-surface-status-critical-strong: var(--kz-color-cupid-red-500);
  --kz-color-surface-status-critical-weak: var(--kz-color-cupid-red-0);
  --kz-color-surface-blanket: var(--kz-color-base-transparent-luna-grey-750);
  --kz-color-surface-status-warning-weak: var(--kz-color-aurora-orange-0);
  --kz-color-stroke-main: var(--kz-color-bsport-turquoise-500);
  --kz-color-stroke-default: var(--kz-color-base-transparent-luna-grey-150);
  --kz-color-stroke-strong: var(--kz-color-base-transparent-luna-grey-500);
  --kz-color-stroke-divider: var(--kz-color-base-transparent-luna-grey-150);
  --kz-color-stroke-action-default-rest: var(
    --kz-color-base-transparent-luna-grey-150
  );
  --kz-color-stroke-action-default-hovered: var(
    --kz-color-base-transparent-luna-grey-250
  );
  --kz-color-stroke-action-default-pressed: var(
    --kz-color-base-transparent-luna-grey-350
  );
  --kz-color-stroke-action-main-selected: var(--kz-color-bsport-turquoise-600);
  --kz-color-stroke-status-info: var(--kz-color-neptune-blue-400);
  --kz-color-stroke-status-positive: var(--kz-color-terra-green-400);
  --kz-color-stroke-status-warning: var(--kz-color-aurora-orange-500);
  --kz-color-stroke-status-critical: var(--kz-color-cupid-red-300);
  --kz-color-surface-action-main-strong-rest: var(
    --kz-color-bsport-turquoise-600
  );
  --kz-color-surface-action-main-strong-hovered: var(
    --kz-color-bsport-turquoise-500
  );
  --kz-color-surface-action-main-strong-pressed: var(
    --kz-color-bsport-turquoise-700
  );
  --kz-color-surface-action-main-strong-selected: var(
    --kz-color-bsport-turquoise-300
  );
  --kz-color-surface-action-default-elevated-rest: var(--kz-color-luna-grey-0);
  --kz-color-surface-action-critical-strong-rest: var(--kz-color-cupid-red-500);
  --kz-color-surface-action-critical-strong-hovered: var(
    --kz-color-cupid-red-400
  );
  --kz-color-surface-action-critical-strong-pressed: var(
    --kz-color-cupid-red-600
  );
  --kz-color-surface-action-default-elevated-hovered: var(
    --kz-color-luna-grey-100
  );
  --kz-color-surface-action-default-elevated-pressed: var(
    --kz-color-luna-grey-200
  );
  --kz-color-surface-action-default-elevated-selected-rest: var(
    --kz-color-bsport-turquoise-0
  );
  --kz-color-onsurface-default-onstrong: var(--kz-color-luna-grey-0);
  --kz-color-onsurface-default: var(--kz-color-bsport-turquoise-900);
  --kz-color-onsurface-main-strong: var(--kz-color-bsport-turquoise-700);
  --kz-color-onsurface-main-weak: var(--kz-color-bsport-turquoise-400);
  --kz-color-onsurface-action-main-rest: var(--kz-color-bsport-turquoise-800);
  --kz-color-onsurface-action-main-hovered: var(
    --kz-color-bsport-turquoise-700
  );
  --kz-color-onsurface-action-main-pressed: var(
    --kz-color-bsport-turquoise-900
  );
  --kz-color-onsurface-action-main-selected: var(
    --kz-color-bsport-turquoise-700
  );
  --kz-color-onsurface-action-main-disabled: var(--kz-color-luna-grey-800);
  --kz-color-onsurface-weak: var(--kz-color-luna-grey-600);
  --kz-color-onsurface-weaker: var(--kz-color-luna-grey-400);
  --kz-color-onsurface-link-rest: var(--kz-color-bsport-turquoise-600);
  --kz-color-onsurface-link-hovered: var(--kz-color-bsport-turquoise-400);
  --kz-color-onsurface-link-pressed: var(--kz-color-bsport-turquoise-700);
  --kz-color-onsurface-status-info-strong: var(--kz-color-neptune-blue-500);
  --kz-color-onsurface-status-info-weak: var(--kz-color-neptune-blue-400);
  --kz-color-onsurface-status-info-onstrong: var(--kz-color-neptune-blue-100);
  --kz-color-onsurface-status-positive-strong: var(--kz-color-terra-green-600);
  --kz-color-onsurface-status-positive-weak: var(--kz-color-terra-green-500);
  --kz-color-onsurface-status-positive-onstrong: var(
    --kz-color-terra-green-100
  );
  --kz-color-onsurface-status-warning-strong: var(--kz-color-aurora-orange-700);
  --kz-color-onsurface-status-critical-strong: var(--kz-color-cupid-red-500);
  --kz-color-onsurface-status-critical-weak: var(--kz-color-cupid-red-400);
  --kz-color-onsurface-status-critical-onstrong: var(--kz-color-cupid-red-100);
  --kz-color-onsurface-status-warning-weak: var(--kz-color-aurora-orange-600);
  --kz-color-onsurface-status-warning-onstrong: var(--kz-color-aurora-orange-0);
  --kz-color-shadow-action-default-selected: var(
    --kz-color-base-transparent-bsport-turquoise-500
  );
  --kz-color-onsurface-action-weak-default: var(--kz-color-luna-grey-700);
  --kz-color-onsurface-action-weak-critical: var(--kz-color-cupid-red-500);
  --kz-color-surface-action-main-selected-rest: var(
    --kz-color-base-transparent-bsport-turquoise-80
  );
  --kz-color-surface-action-main-selected-hovered: var(
    --kz-color-base-transparent-bsport-turquoise-150
  );
  --kz-color-surface-action-main-selected-pressed: var(
    --kz-color-base-transparent-bsport-turquoise-350
  );
  --kz-color-surface-action-main-weak-hovered: var(
    --kz-color-base-transparent-bsport-turquoise-80
  );
  --kz-color-surface-action-main-weak-pressed: var(
    --kz-color-base-transparent-bsport-turquoise-250
  );
  --kz-color-stroke-weak: var(--kz-color-base-transparent-luna-grey-80);
  --kz-color-onsurface-main-onweak: var(--kz-color-bsport-turquoise-600);
  --kz-color-onsurface-main-onstrong: var(--kz-color-luna-grey-0);
  --kz-color-surface-action-default-onstrong-rest: var(
    --kz-color-base-transparent-nix-white-0
  );
  --kz-color-surface-action-critical-weak-rest: var(
    --kz-color-base-transparent-cupid-red-0
  );
  --kz-color-onsurface-action-weak-onstrong: var(--kz-color-luna-grey-0);
  --kz-color-onsurface-action-weak-main: var(--kz-color-bsport-turquoise-700);
  --kz-color-shadow-action-default-pressed: var(
    --kz-color-stroke-action-default-pressed
  );
  --kz-color-surface-action-default-elevated-selected-hovered: var(
    --kz-color-luna-grey-100
  );
  --kz-color-surface-action-default-elevated-selected-pressed: var(
    --kz-color-luna-grey-200
  );
  --kz-color-surface-action-default-weak-rest: var(
    --kz-color-base-transparent-luna-grey-0
  );
  --kz-color-surface-action-default-weak-hovered: var(
    --kz-color-base-transparent-luna-grey-80
  );
  --kz-color-surface-action-default-weak-pressed: var(
    --kz-color-base-transparent-luna-grey-150
  );
  --kz-color-surface-action-default-onstrong-hovered: var(
    --kz-color-base-transparent-nix-white-80
  );
  --kz-color-surface-action-default-onstrong-pressed: var(
    --kz-color-base-transparent-nix-white-150
  );
  --kz-color-surface-action-critical-weak-hovered: var(
    --kz-color-base-transparent-cupid-red-40
  );
  --kz-color-surface-action-critical-weak-pressed: var(
    --kz-color-base-transparent-cupid-red-150
  );
  --kz-dimension-element-2xs: 4px;
  --kz-dimension-element-xs: 8px;
  --kz-dimension-element-sm: 16px;
  --kz-dimension-element-md: 24px;
  --kz-dimension-element-lg: 32px;
  --kz-dimension-element-xl: 48px;
  --kz-dimension-element-2xl: 72px;
  --kz-dimension-element-3xl: 140px;
  --kz-dimension-component-content-centered: 1200px;
  --kz-dimension-corner-xl: 16px;
  --kz-dimension-stroke-thin: 1px;
  --kz-dimension-stroke-regular: 2px;
  --kz-dimension-stroke-bold: 4px;
  --kz-dimension-corner-lg: 12px;
  --kz-dimension-corner-md: 8px;
  --kz-dimension-corner-sm: 6px;
  --kz-dimension-corner-xs: 4px;
  --kz-dimension-corner-square: 0px;
  --kz-dimension-corner-circle: 999px;
  --kz-dimension-component-select: 320px;
  --kz-dimension-component-tooltip: 240px;
  --kz-dimension-component-popover-min: 240px;
  --kz-dimension-component-popover-max: 320px;
  --kz-dimension-component-list-item-min: 40px;
  --kz-dimension-component-toast: 380px;
  --kz-dimension-component-modal-min-sm: 360px;
  --kz-dimension-component-modal-min-md: 600px;
  --kz-dimension-component-modal-min-lg: 1000px;
  --kz-dimension-font-size-display-lg: 72px;
  --kz-dimension-font-size-display-md: 40px;
  --kz-dimension-font-size-title-xl: 32px;
  --kz-dimension-font-size-title-lg: 28px;
  --kz-dimension-font-size-title-md: 20px;
  --kz-dimension-font-size-title-sm: 18px;
  --kz-dimension-font-size-title-xs: 16px;
  --kz-dimension-font-size-body-lg: 16px;
  --kz-dimension-font-size-body-md: 14px;
  --kz-dimension-font-size-body-sm: 12px;
  --kz-dimension-font-size-body-xs: 10px;
  --kz-dimension-font-line-height-display-lg: 86px;
  --kz-dimension-font-line-height-display-sm: 48px;
  --kz-dimension-font-line-height-xl: 42px;
  --kz-dimension-font-line-height-lg: 32px;
  --kz-dimension-font-line-height-md: 24px;
  --kz-dimension-font-line-height-sm: 20px;
  --kz-dimension-font-line-height-xs: 16px;
  --kz-dimension-font-line-height-2xs: 12px;
  --kz-dimension-component-modal-max-sm: 400px;
  --kz-dimension-component-modal-max-md: 800px;
  --kz-dimension-component-modal-max-lg: 1200px;
  --kz-dimension-breakpoint-mobile: 480px;
  --kz-dimension-breakpoint-tablet: 1024px;
  --kz-dimension-component-breadcrumb: 280px;
  --kz-dimension-element-4xl: 200px;
  --kz-dimension-opacity-transparent: 0px;
  --kz-dimension-opacity-xl: 4px;
  --kz-dimension-opacity-lg: 8px;
  --kz-dimension-opacity-md: 25px;
  --kz-dimension-opacity-sm: 50px;
  --kz-dimension-opacity-xs: 65px;
  --kz-dimension-opacity-2xs: 85px;
  --kz-dimension-opacity-none: 100px;
  --kz-dimension-action-lg: var(--kz-dimension-element-xl);
  --kz-dimension-action-md: var(--kz-dimension-element-lg);
  --kz-dimension-action-sm: var(--kz-dimension-element-md);
  --kz-dimension-icon-xl: var(--kz-dimension-element-xl);
  --kz-dimension-icon-lg: var(--kz-dimension-element-lg);
  --kz-dimension-icon-md: var(--kz-dimension-element-md);
  --kz-dimension-icon-sm: var(--kz-dimension-element-sm);
  --kz-dimension-icon-xs: var(--kz-dimension-element-xs);
  --kz-sizing-4xl: 12.5rem;
  --kz-sizing-3xl: 8.75rem;
  --kz-sizing-2xl: 4.5rem;
  --kz-sizing-xl: 3rem;
  --kz-sizing-lg: 2rem;
  --kz-sizing-md: 1.5rem;
  --kz-sizing-sm: 1rem;
  --kz-sizing-xs: 0.5rem;
  --kz-sizing-2xs: 0.25rem;
  --kz-spacing-3xl: 8.75rem;
  --kz-spacing-2xl: 4.5rem;
  --kz-spacing-xl: 2rem;
  --kz-spacing-lg: 1.5rem;
  --kz-spacing-md: 1rem;
  --kz-spacing-sm: 0.75rem;
  --kz-spacing-xs: 0.5rem;
  --kz-spacing-2xs: 0.25rem;
  --kz-font-weight-weak: 400;
  --kz-font-weight-strong: 500;
  --kz-font-weight-weaker: 300;
  --kz-font-weight-stronger: 600;
  --kz-font-size-body-xs: 0.625rem;
  --kz-font-size-body-lg: 1rem;
  --kz-font-size-body-sm: 0.75rem;
  --kz-font-size-body-md: 0.875rem;
  --kz-font-size-title-xl: 2rem;
  --kz-font-size-title-lg: 1.75rem;
  --kz-font-size-title-sm: 1.1rem;
  --kz-font-size-title-md: 1.25rem;
  --kz-font-size-title-xs: 1rem;
  --kz-font-size-display-lg: 5.375rem;
  --kz-font-size-display-sm: 2.5rem;
  --kz-line-height-xl: 2.625rem;
  --kz-line-height-display: 120%;
  --kz-line-height-lg: 2rem;
  --kz-line-height-md: 1.5rem;
  --kz-line-height-sm: 1.25rem;
  --kz-line-height-xs: 1rem;
  --kz-line-height-2xs: 0.75rem;
  --kz-opacity-xl: 0.04;
  --kz-opacity-lg: 0.08;
  --kz-opacity-md: 0.25;
  --kz-opacity-sm: 0.5;
  --kz-opacity-xs: 0.75;
  --kz-opacity-2xs: 0.9;
  --kz-opacity-transparent: 0;
  --kz-shadow-action-default-rest: 0px 1px 2px 0px #a3afae40,
    inset 0px 0px 0px 1px #353c3c26;
  --kz-shadow-action-default-hovered: 0px 2px 6px 0px #a3afae40,
    inset 0px 0px 0px 1px #353c3c40;
  --kz-shadow-action-default-pressed: 0px 1px 4px -4px #353c3c59,
    inset 0px 0px 0px 1px #353c3c59;
  --kz-shadow-action-default-selected: inset 0px 3px 8px 0px #25948d40;
  --kz-shadow-action-call-to-action-rest: 0px 1px 2px 0px #365a5840;
  --kz-shadow-action-call-to-action-hovered: 0px 2px 6px 0px #2a8b8580;
  --kz-shadow-action-call-to-action-pressed: 0px 1px 8px -2px #50505014;
  --kz-shadow-focused: inset 0px 0px 0px 2px #21837d, 0px 0px 0px 4px #25948d80;
  --kz-shadow-xl: 0px 20px 36px 12px #5c676333;
  --kz-shadow-sm: 0px 2px 8px 0px #3d4d471a;
  --kz-shadow-md: 0px 8px 16px 4px #3d4d471a;
  --kz-shadow-lg: 0px 12px 20px 2px #5c676333;
  --kz-shadow-action-call-to-action-critical-rest: 0px 1px 2px 0px #59363d40;
  --kz-shadow-action-call-to-action-critical-hovered: 0px 2px 6px 0px #8b465580;
  --kz-shadow-action-call-to-action-critical-pressed: 0px 1px 8px -2px #50505014;
  --kz-shadow-border-thin-default: inset 0px 0px 0px 1px #353c3c26;
  --kz-shadow-border-thin-main: inset 0px 0px 0px 1px #25948d;
  --kz-shadow-border-thin-info: inset 0px 0px 0px 1px #447ba9;
  --kz-shadow-border-thin-positive: inset 0px 0px 0px 1px #47af4f;
  --kz-shadow-border-thin-warning: inset 0px 0px 0px 1px #f59e0b;
  --kz-shadow-border-thin-critical: inset 0px 0px 0px 1px #d16f84;
  --kz-transition-duration-default: 200ms;
  --kz-transition-duration-long: 300ms;
  --kz-transition-duration-short: 100ms;
  --kz-transition-duration-extra-long: 500ms;
}

.kz-dark {
  --kz-border-width-stroke-thin: 1px;
  --kz-border-width-stroke-regular: 2px;
  --kz-border-width-stroke-bold: 4px;
  --kz-border-radius-xl: 16px;
  --kz-border-radius-lg: 12px;
  --kz-border-radius-md: 8px;
  --kz-border-radius-sm: 6px;
  --kz-border-radius-xs: 4px;
  --kz-border-radius-square: 0px;
  --kz-border-radius-circle: 999px;
  --kz-color-luna-grey-0: 255, 255, 255, 1;
  --kz-color-luna-grey-50: 249, 252, 252, 1;
  --kz-color-luna-grey-100: 247, 249, 249, 1;
  --kz-color-luna-grey-200: 229, 234, 234, 1;
  --kz-color-luna-grey-300: 201, 209, 208, 1;
  --kz-color-luna-grey-400: 166, 175, 174, 1;
  --kz-color-luna-grey-500: 127, 135, 134, 1;
  --kz-color-luna-grey-600: 86, 94, 93, 1;
  --kz-color-luna-grey-700: 53, 60, 60, 1;
  --kz-color-luna-grey-800: 30, 35, 35, 1;
  --kz-color-luna-grey-900: 18, 19, 19, 1;
  --kz-color-luna-grey-1000: 12, 13, 13, 1;
  --kz-color-terra-green-0: 232, 252, 234, 1;
  --kz-color-terra-green-100: 195, 247, 200, 1;
  --kz-color-terra-green-200: 154, 233, 160, 1;
  --kz-color-terra-green-300: 111, 209, 119, 1;
  --kz-color-terra-green-400: 71, 175, 79, 1;
  --kz-color-terra-green-500: 39, 132, 47, 1;
  --kz-color-terra-green-600: 18, 88, 24, 1;
  --kz-color-terra-green-700: 7, 51, 11, 1;
  --kz-color-terra-green-800: 3, 26, 4, 1;
  --kz-color-terra-green-900: 1, 11, 2, 1;
  --kz-color-terra-green-1000: 0, 5, 1, 1;
  --kz-color-neptune-blue-0: 232, 243, 252, 1;
  --kz-color-neptune-blue-100: 195, 224, 247, 1;
  --kz-color-neptune-blue-200: 154, 197, 233, 1;
  --kz-color-neptune-blue-300: 111, 165, 209, 1;
  --kz-color-neptune-blue-400: 68, 123, 169, 1;
  --kz-color-neptune-blue-500: 39, 90, 132, 1;
  --kz-color-neptune-blue-600: 22, 71, 110, 1;
  --kz-color-neptune-blue-700: 11, 48, 77, 1;
  --kz-color-neptune-blue-800: 3, 15, 26, 1;
  --kz-color-neptune-blue-900: 1, 6, 11, 1;
  --kz-color-neptune-blue-1000: 0, 3, 5, 1;
  --kz-color-aurora-orange-0: 255, 251, 235, 1;
  --kz-color-aurora-orange-100: 254, 243, 199, 1;
  --kz-color-aurora-orange-200: 253, 230, 138, 1;
  --kz-color-aurora-orange-300: 252, 211, 77, 1;
  --kz-color-aurora-orange-400: 251, 191, 36, 1;
  --kz-color-aurora-orange-500: 245, 158, 11, 1;
  --kz-color-aurora-orange-600: 217, 119, 6, 1;
  --kz-color-aurora-orange-700: 180, 83, 9, 1;
  --kz-color-aurora-orange-800: 146, 64, 14, 1;
  --kz-color-aurora-orange-900: 94, 42, 12, 1;
  --kz-color-aurora-orange-1000: 38, 17, 5, 1;
  --kz-color-cupid-red-0: 252, 232, 237, 1;
  --kz-color-cupid-red-100: 247, 195, 206, 1;
  --kz-color-cupid-red-200: 233, 154, 171, 1;
  --kz-color-cupid-red-300: 209, 111, 132, 1;
  --kz-color-cupid-red-400: 163, 66, 87, 1;
  --kz-color-cupid-red-500: 132, 39, 59, 1;
  --kz-color-cupid-red-600: 120, 25, 45, 1;
  --kz-color-cupid-red-700: 84, 12, 28, 1;
  --kz-color-cupid-red-800: 26, 3, 8, 1;
  --kz-color-cupid-red-900: 11, 1, 3, 1;
  --kz-color-cupid-red-1000: 5, 0, 1, 1;
  --kz-color-shadow-weak: 21, 35, 30, 0.08;
  --kz-color-shadow-action-brand-selected: var(--kz-color-bsport-turquoise-800);
  --kz-color-bsport-turquoise-0: 240, 250, 249, 1;
  --kz-color-bsport-turquoise-100: 229, 246, 243, 1;
  --kz-color-bsport-turquoise-200: 190, 237, 229, 1;
  --kz-color-bsport-turquoise-300: 133, 222, 210, 1;
  --kz-color-bsport-turquoise-400: 50, 166, 158, 1;
  --kz-color-bsport-turquoise-500: 37, 148, 141, 1;
  --kz-color-bsport-turquoise-600: 33, 131, 125, 1;
  --kz-color-bsport-turquoise-700: 15, 102, 96, 1;
  --kz-color-bsport-turquoise-800: 4, 48, 45, 1;
  --kz-color-bsport-turquoise-900: 1, 26, 24, 1;
  --kz-color-bsport-turquoise-1000: 0, 6, 5, 1;
  --kz-color-shadow-strong: 21, 35, 30, 0.08;
  --kz-color-surface-action-main-weak-rest: var(
    --kz-color-bsport-turquoise-300
  );
  --kz-color-shadow-action-default-rest: 163, 175, 174, 0.25;
  --kz-color-shadow-action-default-hovered: 163, 175, 174, 0.25;
  --kz-color-test: 201, 0, 175, 0.5;
  --kz-color-base-transparent-bsport-turquoise-0: 37, 148, 141, 0;
  --kz-color-base-transparent-bsport-turquoise-40: 37, 148, 141, 0.04;
  --kz-color-base-transparent-bsport-turquoise-80: 37, 148, 141, 0.08;
  --kz-color-base-transparent-bsport-turquoise-150: 37, 148, 141, 0.15;
  --kz-color-base-transparent-bsport-turquoise-250: 37, 148, 141, 0.25;
  --kz-color-base-transparent-bsport-turquoise-350: 37, 148, 141, 0.35;
  --kz-color-base-transparent-bsport-turquoise-500: 50, 166, 158, 0.5;
  --kz-color-base-transparent-bsport-turquoise-750: 50, 166, 158, 0.75;
  --kz-color-base-transparent-bsport-turquoise-900: 50, 166, 158, 0.9;
  --kz-color-base-transparent-luna-grey-0: 53, 60, 60, 0;
  --kz-color-base-transparent-luna-grey-40: 53, 60, 60, 0.04;
  --kz-color-base-transparent-luna-grey-80: 53, 60, 60, 0.08;
  --kz-color-base-transparent-luna-grey-150: 53, 60, 60, 0.15;
  --kz-color-base-transparent-luna-grey-250: 53, 60, 60, 0.25;
  --kz-color-base-transparent-luna-grey-350: 53, 60, 60, 0.35;
  --kz-color-base-transparent-luna-grey-500: 53, 60, 60, 0.5;
  --kz-color-base-transparent-luna-grey-750: 53, 60, 60, 0.75;
  --kz-color-base-transparent-luna-grey-900: 53, 60, 60, 0.9;
  --kz-color-base-transparent-nix-white-0: 255, 255, 255, 0;
  --kz-color-base-transparent-nix-white-40: 255, 255, 255, 0.04;
  --kz-color-base-transparent-nix-white-80: 255, 255, 255, 0.08;
  --kz-color-base-transparent-nix-white-150: 255, 255, 255, 0.15;
  --kz-color-base-transparent-nix-white-250: 255, 255, 255, 0.25;
  --kz-color-base-transparent-nix-white-350: 255, 255, 255, 0.35;
  --kz-color-base-transparent-nix-white-500: 255, 255, 255, 0.5;
  --kz-color-base-transparent-nix-white-750: 255, 255, 255, 0.75;
  --kz-color-base-transparent-nix-white-900: 255, 255, 255, 0.9;
  --kz-color-base-transparent-cupid-red-0: 132, 39, 59, 0;
  --kz-color-base-transparent-cupid-red-40: 132, 39, 59, 0.04;
  --kz-color-base-transparent-cupid-red-80: 132, 39, 59, 0.08;
  --kz-color-base-transparent-cupid-red-150: 132, 39, 59, 0.15;
  --kz-color-base-transparent-cupid-red-250: 132, 39, 59, 0.25;
  --kz-color-base-transparent-cupid-red-350: 132, 39, 59, 0.35;
  --kz-color-base-transparent-cupid-red-500: 132, 39, 59, 0.5;
  --kz-color-base-transparent-cupid-red-750: 132, 39, 59, 0.75;
  --kz-color-base-transparent-cupid-red-900: 132, 39, 59, 0.9;
  --kz-color-surface-page: var(--kz-color-luna-grey-1000);
  --kz-color-surface-page-navigation: var(--kz-color-luna-grey-1000);
  --kz-color-surface-default: var(--kz-color-luna-grey-900);
  --kz-color-surface-default-elevated: var(--kz-color-luna-grey-800);
  --kz-color-surface-default-weak: var(--kz-color-luna-grey-800);
  --kz-color-surface-default-weaker: var(--kz-color-luna-grey-600);
  --kz-color-surface-default-weakest: var(--kz-color-luna-grey-500);
  --kz-color-surface-main-strong: var(--kz-color-bsport-turquoise-300);
  --kz-color-surface-main-weak: var(--kz-color-bsport-turquoise-900);
  --kz-color-surface-default-strong: var(--kz-color-luna-grey-100);
  --kz-color-surface-status-info-strong: var(--kz-color-neptune-blue-300);
  --kz-color-surface-status-positive-strong: var(--kz-color-terra-green-400);
  --kz-color-surface-status-positive-weak: var(--kz-color-terra-green-800);
  --kz-color-surface-status-info-weak: var(--kz-color-neptune-blue-800);
  --kz-color-surface-status-warning-strong: var(--kz-color-aurora-orange-500);
  --kz-color-surface-status-critical-strong: var(--kz-color-cupid-red-300);
  --kz-color-surface-status-critical-weak: var(--kz-color-cupid-red-800);
  --kz-color-surface-blanket: 255, 255, 255, 0.5;
  --kz-color-surface-status-warning-weak: var(--kz-color-aurora-orange-1000);
  --kz-color-stroke-main: var(--kz-color-bsport-turquoise-300);
  --kz-color-stroke-default: var(--kz-color-luna-grey-600);
  --kz-color-stroke-strong: var(--kz-color-luna-grey-400);
  --kz-color-stroke-divider: var(--kz-color-luna-grey-600);
  --kz-color-stroke-action-default-rest: var(--kz-color-luna-grey-900);
  --kz-color-stroke-action-default-hovered: var(--kz-color-luna-grey-700);
  --kz-color-stroke-action-default-pressed: var(--kz-color-luna-grey-500);
  --kz-color-stroke-action-main-selected: var(--kz-color-bsport-turquoise-600);
  --kz-color-stroke-status-info: var(--kz-color-neptune-blue-400);
  --kz-color-stroke-status-positive: var(--kz-color-terra-green-500);
  --kz-color-stroke-status-warning: var(--kz-color-aurora-orange-600);
  --kz-color-stroke-status-critical: var(--kz-color-cupid-red-400);
  --kz-color-surface-action-main-strong-rest: var(
    --kz-color-bsport-turquoise-300
  );
  --kz-color-surface-action-main-strong-hovered: var(
    --kz-color-bsport-turquoise-400
  );
  --kz-color-surface-action-main-strong-pressed: var(
    --kz-color-bsport-turquoise-600
  );
  --kz-color-surface-action-main-strong-selected: var(
    --kz-color-bsport-turquoise-600
  );
  --kz-color-surface-action-default-elevated-rest: var(
    --kz-color-luna-grey-800
  );
  --kz-color-surface-action-critical-strong-rest: var(--kz-color-cupid-red-600);
  --kz-color-surface-action-critical-strong-hovered: var(
    --kz-color-cupid-red-500
  );
  --kz-color-surface-action-critical-strong-pressed: var(
    --kz-color-cupid-red-700
  );
  --kz-color-surface-action-default-elevated-hovered: var(
    --kz-color-luna-grey-600
  );
  --kz-color-surface-action-default-elevated-pressed: var(
    --kz-color-luna-grey-800
  );
  --kz-color-surface-action-default-elevated-selected-rest: var(
    --kz-color-bsport-turquoise-800
  );
  --kz-color-onsurface-default-onstrong: var(--kz-color-luna-grey-900);
  --kz-color-onsurface-default: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-main-strong: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-main-weak: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-action-main-rest: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-action-main-hovered: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-action-main-pressed: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-action-main-selected: var(
    --kz-color-bsport-turquoise-200
  );
  --kz-color-onsurface-action-main-disabled: 255, 255, 255, 0.25;
  --kz-color-onsurface-weak: var(--kz-color-luna-grey-300);
  --kz-color-onsurface-weaker: var(--kz-color-luna-grey-500);
  --kz-color-onsurface-link-rest: var(--kz-color-bsport-turquoise-300);
  --kz-color-onsurface-link-hovered: var(--kz-color-bsport-turquoise-200);
  --kz-color-onsurface-link-pressed: var(--kz-color-bsport-turquoise-400);
  --kz-color-onsurface-status-info-strong: var(--kz-color-neptune-blue-0);
  --kz-color-onsurface-status-info-weak: var(--kz-color-neptune-blue-100);
  --kz-color-onsurface-status-info-onstrong: var(--kz-color-neptune-blue-600);
  --kz-color-onsurface-status-positive-strong: var(--kz-color-terra-green-0);
  --kz-color-onsurface-status-positive-weak: var(--kz-color-terra-green-100);
  --kz-color-onsurface-status-positive-onstrong: var(
    --kz-color-terra-green-700
  );
  --kz-color-onsurface-status-warning-strong: var(--kz-color-aurora-orange-0);
  --kz-color-onsurface-status-critical-strong: var(--kz-color-cupid-red-0);
  --kz-color-onsurface-status-critical-weak: var(--kz-color-cupid-red-100);
  --kz-color-onsurface-status-critical-onstrong: var(--kz-color-cupid-red-700);
  --kz-color-onsurface-status-warning-weak: var(--kz-color-aurora-orange-200);
  --kz-color-onsurface-status-warning-onstrong: var(
    --kz-color-aurora-orange-900
  );
  --kz-color-shadow-action-default-selected: var(
    --kz-color-bsport-turquoise-800
  );
  --kz-color-onsurface-action-weak-default: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-action-weak-critical: var(--kz-color-cupid-red-300);
  --kz-color-surface-action-main-selected-rest: var(
    --kz-color-bsport-turquoise-300
  );
  --kz-color-surface-action-main-selected-hovered: var(
    --kz-color-bsport-turquoise-400
  );
  --kz-color-surface-action-main-selected-pressed: var(
    --kz-color-bsport-turquoise-600
  );
  --kz-color-surface-action-main-weak-hovered: var(
    --kz-color-bsport-turquoise-300
  );
  --kz-color-surface-action-main-weak-pressed: var(
    --kz-color-bsport-turquoise-300
  );
  --kz-color-stroke-weak: var(--kz-color-luna-grey-700);
  --kz-color-onsurface-main-onweak: var(--kz-color-luna-grey-900);
  --kz-color-onsurface-main-onstrong: var(--kz-color-luna-grey-900);
  --kz-color-surface-action-default-onstrong-rest: var(
    --kz-color-bsport-turquoise-300
  );
  --kz-color-surface-action-critical-weak-rest: var(--kz-color-cupid-red-100);
  --kz-color-onsurface-action-weak-onstrong: var(--kz-color-luna-grey-800);
  --kz-color-onsurface-action-weak-main: var(--kz-color-bsport-turquoise-300);
  --kz-color-shadow-action-default-pressed: var(
    --kz-color-stroke-action-default-pressed
  );
  --kz-color-surface-action-default-elevated-selected-hovered: var(
    --kz-color-bsport-turquoise-800
  );
  --kz-color-surface-action-default-elevated-selected-pressed: var(
    --kz-color-bsport-turquoise-800
  );
  --kz-color-surface-action-default-weak-rest: var(
    --kz-color-bsport-turquoise-300
  );
  --kz-color-surface-action-default-weak-hovered: var(
    --kz-color-bsport-turquoise-300
  );
  --kz-color-surface-action-default-weak-pressed: var(
    --kz-color-bsport-turquoise-300
  );
  --kz-color-surface-action-default-onstrong-hovered: var(
    --kz-color-bsport-turquoise-300
  );
  --kz-color-surface-action-default-onstrong-pressed: var(
    --kz-color-bsport-turquoise-300
  );
  --kz-color-surface-action-critical-weak-hovered: var(
    --kz-color-cupid-red-100
  );
  --kz-color-surface-action-critical-weak-pressed: var(
    --kz-color-cupid-red-100
  );
  --kz-dimension-element-2xs: 4px;
  --kz-dimension-element-xs: 8px;
  --kz-dimension-element-sm: 16px;
  --kz-dimension-element-md: 24px;
  --kz-dimension-element-lg: 32px;
  --kz-dimension-element-xl: 48px;
  --kz-dimension-element-2xl: 72px;
  --kz-dimension-element-3xl: 140px;
  --kz-dimension-component-content-centered: 1200px;
  --kz-dimension-corner-xl: 16px;
  --kz-dimension-stroke-thin: 1px;
  --kz-dimension-stroke-regular: 2px;
  --kz-dimension-stroke-bold: 4px;
  --kz-dimension-corner-lg: 12px;
  --kz-dimension-corner-md: 8px;
  --kz-dimension-corner-sm: 6px;
  --kz-dimension-corner-xs: 4px;
  --kz-dimension-corner-square: 0px;
  --kz-dimension-corner-circle: 999px;
  --kz-dimension-component-select: 320px;
  --kz-dimension-component-tooltip: 240px;
  --kz-dimension-component-popover-min: 240px;
  --kz-dimension-component-popover-max: 320px;
  --kz-dimension-component-list-item-min: 40px;
  --kz-dimension-component-toast: 380px;
  --kz-dimension-component-modal-min-sm: 360px;
  --kz-dimension-component-modal-min-md: 600px;
  --kz-dimension-component-modal-min-lg: 1000px;
  --kz-dimension-font-size-display-lg: 72px;
  --kz-dimension-font-size-display-md: 40px;
  --kz-dimension-font-size-title-xl: 32px;
  --kz-dimension-font-size-title-lg: 28px;
  --kz-dimension-font-size-title-md: 20px;
  --kz-dimension-font-size-title-sm: 18px;
  --kz-dimension-font-size-title-xs: 16px;
  --kz-dimension-font-size-body-lg: 16px;
  --kz-dimension-font-size-body-md: 14px;
  --kz-dimension-font-size-body-sm: 12px;
  --kz-dimension-font-size-body-xs: 10px;
  --kz-dimension-font-line-height-display-lg: 86px;
  --kz-dimension-font-line-height-display-sm: 48px;
  --kz-dimension-font-line-height-xl: 42px;
  --kz-dimension-font-line-height-lg: 32px;
  --kz-dimension-font-line-height-md: 24px;
  --kz-dimension-font-line-height-sm: 20px;
  --kz-dimension-font-line-height-xs: 16px;
  --kz-dimension-font-line-height-2xs: 12px;
  --kz-dimension-component-modal-max-sm: 400px;
  --kz-dimension-component-modal-max-md: 800px;
  --kz-dimension-component-modal-max-lg: 1200px;
  --kz-dimension-breakpoint-mobile: 480px;
  --kz-dimension-breakpoint-tablet: 1024px;
  --kz-dimension-component-breadcrumb: 280px;
  --kz-dimension-element-4xl: 200px;
  --kz-dimension-opacity-transparent: 0px;
  --kz-dimension-opacity-xl: 4px;
  --kz-dimension-opacity-lg: 8px;
  --kz-dimension-opacity-md: 25px;
  --kz-dimension-opacity-sm: 50px;
  --kz-dimension-opacity-xs: 65px;
  --kz-dimension-opacity-2xs: 85px;
  --kz-dimension-opacity-none: 100px;
  --kz-dimension-action-lg: var(--kz-dimension-element-xl);
  --kz-dimension-action-md: var(--kz-dimension-element-lg);
  --kz-dimension-action-sm: var(--kz-dimension-element-md);
  --kz-dimension-icon-xl: var(--kz-dimension-element-xl);
  --kz-dimension-icon-lg: var(--kz-dimension-element-lg);
  --kz-dimension-icon-md: var(--kz-dimension-element-md);
  --kz-dimension-icon-sm: var(--kz-dimension-element-sm);
  --kz-dimension-icon-xs: var(--kz-dimension-element-xs);
  --kz-sizing-4xl: 12.5rem;
  --kz-sizing-3xl: 8.75rem;
  --kz-sizing-2xl: 4.5rem;
  --kz-sizing-xl: 3rem;
  --kz-sizing-lg: 2rem;
  --kz-sizing-md: 1.5rem;
  --kz-sizing-sm: 1rem;
  --kz-sizing-xs: 0.5rem;
  --kz-sizing-2xs: 0.25rem;
  --kz-spacing-3xl: 8.75rem;
  --kz-spacing-2xl: 4.5rem;
  --kz-spacing-xl: 2rem;
  --kz-spacing-lg: 1.5rem;
  --kz-spacing-md: 1rem;
  --kz-spacing-sm: 0.75rem;
  --kz-spacing-xs: 0.5rem;
  --kz-spacing-2xs: 0.25rem;
  --kz-font-weight-weak: 400;
  --kz-font-weight-strong: 500;
  --kz-font-weight-weaker: 300;
  --kz-font-weight-stronger: 600;
  --kz-font-size-body-xs: 0.625rem;
  --kz-font-size-body-lg: 1rem;
  --kz-font-size-body-sm: 0.75rem;
  --kz-font-size-body-md: 0.875rem;
  --kz-font-size-title-xl: 2rem;
  --kz-font-size-title-lg: 1.75rem;
  --kz-font-size-title-sm: 1.1rem;
  --kz-font-size-title-md: 1.25rem;
  --kz-font-size-title-xs: 1rem;
  --kz-font-size-display-lg: 5.375rem;
  --kz-font-size-display-sm: 2.5rem;
  --kz-line-height-xl: 2.625rem;
  --kz-line-height-display: 120%;
  --kz-line-height-lg: 2rem;
  --kz-line-height-md: 1.5rem;
  --kz-line-height-sm: 1.25rem;
  --kz-line-height-xs: 1rem;
  --kz-line-height-2xs: 0.75rem;
  --kz-opacity-xl: 0.04;
  --kz-opacity-lg: 0.08;
  --kz-opacity-md: 0.25;
  --kz-opacity-sm: 0.5;
  --kz-opacity-xs: 0.75;
  --kz-opacity-2xs: 0.9;
  --kz-opacity-transparent: 0;
  --kz-shadow-action-default-rest: 0px 1px 2px 0px #a3afae40,
    inset 0px 0px 0px 1px #353c3c26;
  --kz-shadow-action-default-hovered: 0px 2px 6px 0px #a3afae40,
    inset 0px 0px 0px 1px #353c3c40;
  --kz-shadow-action-default-pressed: 0px 1px 4px -4px #353c3c59,
    inset 0px 0px 0px 1px #353c3c59;
  --kz-shadow-action-default-selected: inset 0px 3px 8px 0px #25948d40;
  --kz-shadow-action-call-to-action-rest: 0px 1px 2px 0px #365a5840;
  --kz-shadow-action-call-to-action-hovered: 0px 2px 6px 0px #2a8b8580;
  --kz-shadow-action-call-to-action-pressed: 0px 1px 8px -2px #50505014;
  --kz-shadow-focused: inset 0px 0px 0px 2px #21837d, 0px 0px 0px 4px #25948d80;
  --kz-shadow-xl: 0px 20px 36px 12px #5c676333;
  --kz-shadow-sm: 0px 2px 8px 0px #3d4d471a;
  --kz-shadow-md: 0px 8px 16px 4px #3d4d471a;
  --kz-shadow-lg: 0px 12px 20px 2px #5c676333;
  --kz-shadow-action-call-to-action-critical-rest: 0px 1px 2px 0px #59363d40;
  --kz-shadow-action-call-to-action-critical-hovered: 0px 2px 6px 0px #8b465580;
  --kz-shadow-action-call-to-action-critical-pressed: 0px 1px 8px -2px #50505014;
  --kz-shadow-border-thin-default: inset 0px 0px 0px 1px #353c3c26;
  --kz-shadow-border-thin-main: inset 0px 0px 0px 1px #25948d;
  --kz-shadow-border-thin-info: inset 0px 0px 0px 1px #447ba9;
  --kz-shadow-border-thin-positive: inset 0px 0px 0px 1px #47af4f;
  --kz-shadow-border-thin-warning: inset 0px 0px 0px 1px #f59e0b;
  --kz-shadow-border-thin-critical: inset 0px 0px 0px 1px #d16f84;
  --kz-transition-duration-default: 200ms;
  --kz-transition-duration-long: 300ms;
  --kz-transition-duration-short: 100ms;
  --kz-transition-duration-extra-long: 500ms;
}
