@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --kz-border-radius-stroke-thin: 1px;
  --kz-border-radius-stroke-regular: 2px;
  --kz-border-radius-stroke-bold: 4px;
  --kz-border-radius-xl: 16px;
  --kz-border-radius-lg: 12px;
  --kz-border-radius-md: 8px;
  --kz-border-radius-sm: 6px;
  --kz-border-radius-xs: 4px;
  --kz-border-radius-square: 0px;
  --kz-border-radius-circle: 999px;
  --kz-color-luna-grey-0: 255 255 255;
  --kz-color-luna-grey-50: 249 252 252;
  --kz-color-luna-grey-100: 239 249 248;
  --kz-color-luna-grey-200: 225 234 233;
  --kz-color-luna-grey-300: 196 209 208;
  --kz-color-luna-grey-400: 163 175 174;
  --kz-color-luna-grey-500: 124 135 134;
  --kz-color-luna-grey-600: 86 94 93;
  --kz-color-luna-grey-700: 53 60 60;
  --kz-color-luna-grey-800: 30 35 35;
  --kz-color-luna-grey-900: 18 19 19;
  --kz-color-luna-grey-1000: 12 13 13;
  --kz-color-terra-green-0: 232 252 234;
  --kz-color-terra-green-100: 195 247 200;
  --kz-color-terra-green-200: 154 233 160;
  --kz-color-terra-green-300: 111 209 119;
  --kz-color-terra-green-400: 71 175 79;
  --kz-color-terra-green-500: 39 132 47;
  --kz-color-terra-green-600: 18 88 24;
  --kz-color-terra-green-700: 7 51 11;
  --kz-color-terra-green-800: 3 26 4;
  --kz-color-terra-green-900: 1 11 2;
  --kz-color-terra-green-1000: 0 5 1;
  --kz-color-neptune-blue-0: 232 243 252;
  --kz-color-neptune-blue-100: 195 224 247;
  --kz-color-neptune-blue-200: 154 197 233;
  --kz-color-neptune-blue-300: 111 165 209;
  --kz-color-neptune-blue-400: 68 123 169;
  --kz-color-neptune-blue-500: 39 90 132;
  --kz-color-neptune-blue-600: 22 71 110;
  --kz-color-neptune-blue-700: 11 48 77;
  --kz-color-neptune-blue-800: 3 15 26;
  --kz-color-neptune-blue-900: 1 6 11;
  --kz-color-neptune-blue-1000: 0 3 5;
  --kz-color-aurora-orange-0: 255 251 235;
  --kz-color-aurora-orange-100: 254 243 199;
  --kz-color-aurora-orange-200: 253 230 138;
  --kz-color-aurora-orange-300: 252 211 77;
  --kz-color-aurora-orange-400: 251 191 36;
  --kz-color-aurora-orange-500: 245 158 11;
  --kz-color-aurora-orange-600: 217 119 6;
  --kz-color-aurora-orange-700: 180 83 9;
  --kz-color-aurora-orange-800: 146 64 14;
  --kz-color-aurora-orange-900: 94 42 12;
  --kz-color-aurora-orange-1000: 38 17 5;
  --kz-color-cupid-red-0: 252 232 237;
  --kz-color-cupid-red-100: 247 195 206;
  --kz-color-cupid-red-200: 233 154 171;
  --kz-color-cupid-red-300: 209 111 132;
  --kz-color-cupid-red-400: 163 66 87;
  --kz-color-cupid-red-500: 132 39 59;
  --kz-color-cupid-red-600: 120 25 45;
  --kz-color-cupid-red-700: 84 12 28;
  --kz-color-cupid-red-800: 26 3 8;
  --kz-color-cupid-red-900: 11 1 3;
  --kz-color-cupid-red-1000: 5 0 1;
  --kz-color-surface-blanket: 18 19 19;
  --kz-color-shadow-weak: 61 77 71;
  --kz-color-shadow-action-brand-selected: 50 166 158;
  --kz-color-bsport-turquoise-0: 240 250 249;
  --kz-color-bsport-turquoise-100: 220 229 229;
  --kz-color-bsport-turquoise-200: 152 217 212;
  --kz-color-bsport-turquoise-300: 133 204 200;
  --kz-color-bsport-turquoise-400: 50 166 158;
  --kz-color-bsport-turquoise-500: 37 148 141;
  --kz-color-bsport-turquoise-600: 33 131 125;
  --kz-color-bsport-turquoise-700: 15 102 96;
  --kz-color-bsport-turquoise-800: 4 48 45;
  --kz-color-bsport-turquoise-900: 1 26 24;
  --kz-color-bsport-turquoise-1000: 0 6 5;
  --kz-color-shadow-strong: 92 103 99;
  --kz-color-surface-highlighted: 33 131 125;
  --kz-color-surface-action-disabled: 124 135 134;
  --kz-color-surface-action-main-strong-disabled: 124 135 134;
  --kz-color-surface-action-main-weak-rest: 33 131 125;
  --kz-color-surface-action-main-weak-hovered: 33 131 125;
  --kz-color-surface-action-main-weak-pressed: 33 131 125;
  --kz-color-surface-action-critical-weak-rest: 132 39 59;
  --kz-color-surface-action-critical-weak-hovered: 132 39 59;
  --kz-color-surface-action-critical-weak-pressed: 132 39 59;
  --kz-color-surface-action-default-flat-rest: 124 135 134;
  --kz-color-surface-action-default-flat-hovered: 124 135 134;
  --kz-color-surface-action-default-flat-pressed: 124 135 134;
  --kz-color-surface-action-default-onstrong-rest: 255 255 255;
  --kz-color-surface-action-default-onstrong-hovered: 255 255 255;
  --kz-color-surface-action-default-onstrong-pressed: 255 255 255;
  --kz-color-stroke-action-default-rest: 124 135 134;
  --kz-color-stroke-action-default-hovered: 124 135 134;
  --kz-color-stroke-action-default-pressed: 124 135 134;
  --kz-color-stroke-action-default-disabled: 124 135 134;
  --kz-color-stroke-default: 124 135 134;
  --kz-color-stroke-strong: 124 135 134;
  --kz-color-stroke-weak: 124 135 134;
  --kz-color-onsurface-disabled: 30 35 35;
  --kz-color-surface-page: var(--kz-color-luna-grey-50);
  --kz-color-surface-page-navigation: var(--kz-color-luna-grey-0);
  --kz-color-surface-default: var(--kz-color-luna-grey-0);
  --kz-color-surface-default-elevated: var(--kz-color-luna-grey-0);
  --kz-color-surface-default-weak: var(--kz-color-luna-grey-200);
  --kz-color-surface-default-weaker: var(--kz-color-luna-grey-100);
  --kz-color-surface-default-weakest: var(--kz-color-luna-grey-50);
  --kz-color-surface-main-strong: var(--kz-color-bsport-turquoise-700);
  --kz-color-surface-main-weak: var(--kz-color-bsport-turquoise-0);
  --kz-color-surface-default-strong: var(--kz-color-luna-grey-700);
  --kz-color-surface-status-info-strong: var(--kz-color-neptune-blue-500);
  --kz-color-surface-status-positive-strong: var(--kz-color-terra-green-500);
  --kz-color-surface-status-positive-weak: var(--kz-color-terra-green-0);
  --kz-color-surface-status-info-weak: var(--kz-color-neptune-blue-0);
  --kz-color-surface-status-warning-strong: var(--kz-color-aurora-orange-700);
  --kz-color-surface-status-critical-strong: var(--kz-color-cupid-red-500);
  --kz-color-surface-status-critical-weak: var(--kz-color-cupid-red-0);
  --kz-color-surface-status-warning-weak: var(--kz-color-aurora-orange-0);
  --kz-color-stroke-main: var(--kz-color-bsport-turquoise-500);
  --kz-color-stroke-action-default-selected: var(--kz-color-bsport-turquoise-600);
  --kz-color-stroke-status-info: var(--kz-color-neptune-blue-400);
  --kz-color-stroke-status-positive: var(--kz-color-terra-green-400);
  --kz-color-stroke-status-warning: var(--kz-color-aurora-orange-500);
  --kz-color-stroke-status-critical: var(--kz-color-cupid-red-300);
  --kz-color-surface-action-main-strong-rest: var(--kz-color-bsport-turquoise-600);
  --kz-color-surface-action-main-strong-hovered: var(--kz-color-bsport-turquoise-500);
  --kz-color-surface-action-main-strong-pressed: var(--kz-color-bsport-turquoise-700);
  --kz-color-surface-action-main-strong-selected: var(--kz-color-bsport-turquoise-300);
  --kz-color-surface-action-default-elevated-rest: var(--kz-color-luna-grey-0);
  --kz-color-surface-action-critical-strong-rest: var(--kz-color-cupid-red-500);
  --kz-color-surface-action-critical-strong-hovered: var(--kz-color-cupid-red-400);
  --kz-color-surface-action-critical-strong-pressed: var(--kz-color-cupid-red-600);
  --kz-color-surface-action-default-elevated-hovered: var(--kz-color-luna-grey-100);
  --kz-color-surface-action-default-elevated-pressed: var(--kz-color-luna-grey-200);
  --kz-color-surface-action-default-elevated-selected: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-default-onstrong: var(--kz-color-luna-grey-0);
  --kz-color-onsurface-default: var(--kz-color-bsport-turquoise-900);
  --kz-color-onsurface-main-strong: var(--kz-color-bsport-turquoise-700);
  --kz-color-onsurface-main-weak: var(--kz-color-bsport-turquoise-400);
  --kz-color-onsurface-action-main-rest: var(--kz-color-bsport-turquoise-800);
  --kz-color-onsurface-action-main-hovered: var(--kz-color-bsport-turquoise-700);
  --kz-color-onsurface-action-main-pressed: var(--kz-color-bsport-turquoise-900);
  --kz-color-onsurface-action-main-selected: var(--kz-color-bsport-turquoise-700);
  --kz-color-onsurface-action-main-disabled: var(--kz-color-luna-grey-800);
  --kz-color-onsurface-weak: var(--kz-color-luna-grey-600);
  --kz-color-onsurface-weaker: var(--kz-color-luna-grey-400);
  --kz-color-onsurface-link-rest: var(--kz-color-bsport-turquoise-600);
  --kz-color-onsurface-link-hovered: var(--kz-color-bsport-turquoise-500);
  --kz-color-onsurface-link-pressed: var(--kz-color-bsport-turquoise-700);
  --kz-color-onsurface-status-info-strong: var(--kz-color-neptune-blue-500);
  --kz-color-onsurface-status-info-weak: var(--kz-color-neptune-blue-400);
  --kz-color-onsurface-status-info-onstrong: var(--kz-color-neptune-blue-100);
  --kz-color-onsurface-status-positive-strong: var(--kz-color-terra-green-600);
  --kz-color-onsurface-status-positive-weak: var(--kz-color-terra-green-500);
  --kz-color-onsurface-status-positive-onstrong: var(--kz-color-terra-green-100);
  --kz-color-onsurface-status-warning-strong: var(--kz-color-aurora-orange-700);
  --kz-color-onsurface-status-critical-strong: var(--kz-color-cupid-red-500);
  --kz-color-onsurface-status-critical-weak: var(--kz-color-cupid-red-400);
  --kz-color-onsurface-status-critical-onstrong: var(--kz-color-cupid-red-100);
  --kz-color-onsurface-status-warning-weak: var(--kz-color-aurora-orange-600);
  --kz-color-onsurface-status-warning-onstrong: var(--kz-color-aurora-orange-0);
  --kz-color-shadow-action-default-selected: var(--kz-color-bsport-turquoise-100);
  --kz-color-onsurface-action-default: var(--kz-color-bsport-turquoise-800);
  --kz-color-onsurface-action-critical: var(--kz-color-cupid-red-500);
  --kz-color-surface-action-selected-rest: var(--kz-color-bsport-turquoise-0);
  --kz-color-surface-action-selected-hovered: var(--kz-color-bsport-turquoise-100);
  --kz-color-surface-action-selected-pressed: var(--kz-color-bsport-turquoise-200);
  --kz-color-stroke-divider: var(--kz-color-stroke-default);
  --kz-dimension-element-2xs: 4px;
  --kz-dimension-element-xs: 8px;
  --kz-dimension-element-sm: 16px;
  --kz-dimension-element-md: 24px;
  --kz-dimension-element-lg: 36px;
  --kz-dimension-element-xl: 48px;
  --kz-dimension-element-2xl: 72px;
  --kz-dimension-element-3xl: 140px;
  --kz-dimension-xs: 4px;
  --kz-dimension-sm: 8px;
  --kz-dimension-md: 16px;
  --kz-dimension-lg: 24px;
  --kz-dimension-xl: 36px;
  --kz-dimension-2xl: 72px;
  --kz-dimension-3xl: 140px;
  --kz-dimension-component-content-centered: 1200px;
  --kz-dimension-corner-xl: 16px;
  --kz-dimension-stroke-thin: 1px;
  --kz-dimension-stroke-regular: 2px;
  --kz-dimension-stroke-bold: 4px;
  --kz-dimension-corner-lg: 12px;
  --kz-dimension-corner-md: 8px;
  --kz-dimension-corner-sm: 6px;
  --kz-dimension-corner-xs: 4px;
  --kz-dimension-corner-square: 0px;
  --kz-dimension-corner-circle: 999px;
  --kz-dimension-component-select: 320px;
  --kz-dimension-component-tooltip: 240px;
  --kz-dimension-component-popover-min: 240px;
  --kz-dimension-component-popover-max: 320px;
  --kz-dimension-component-list-item-min: 40px;
  --kz-dimension-component-toast: 380px;
  --kz-dimension-component-modal-min-sm: 360px;
  --kz-dimension-component-modal-min-md: 600px;
  --kz-dimension-component-modal-min-lg: 1000px;
  --kz-dimension-font-size-display-lg: 72px;
  --kz-dimension-font-size-display-md: 40px;
  --kz-dimension-font-size-title-xl: 32px;
  --kz-dimension-font-size-title-lg: 28px;
  --kz-dimension-font-size-title-md: 20px;
  --kz-dimension-font-size-title-sm: 18px;
  --kz-dimension-font-size-title-xs: 16px;
  --kz-dimension-font-size-body-lg: 16px;
  --kz-dimension-font-size-body-md: 14px;
  --kz-dimension-font-size-body-sm: 12px;
  --kz-dimension-font-size-body-xs: 10px;
  --kz-dimension-font-line-height-display-lg: 86px;
  --kz-dimension-font-line-height-display-sm: 48px;
  --kz-dimension-font-line-height-xl: 42px;
  --kz-dimension-font-line-height-lg: 36px;
  --kz-dimension-font-line-height-md: 24px;
  --kz-dimension-font-line-height-sm: 20px;
  --kz-dimension-font-line-height-xs: 16px;
  --kz-dimension-font-line-height-2xs: 12px;
  --kz-dimension-component-modal-max-sm: 400px;
  --kz-dimension-component-modal-max-md: 800px;
  --kz-dimension-component-modal-max-lg: 1200px;
  --kz-dimension-breakpoint-mobile: 480px;
  --kz-dimension-breakpoint-tablet: 1024px;
  --kz-dimension-component-breadcrumb: 280px;
  --kz-dimension-element-4xl: 200px;
  --kz-dimension-action-lg: var(--kz-dimension-element-xl);
  --kz-dimension-action-md: var(--kz-dimension-element-lg);
  --kz-dimension-action-sm: var(--kz-dimension-element-md);
  --kz-dimension-icon-xl: var(--kz-dimension-element-xl);
  --kz-dimension-icon-lg: var(--kz-dimension-element-lg);
  --kz-dimension-icon-md: var(--kz-dimension-element-md);
  --kz-dimension-icon-sm: var(--kz-dimension-element-sm);
  --kz-dimension-icon-xs: var(--kz-dimension-element-xs);
  --kz-font-weight-strong: 700;
  --kz-font-weight-weak: 400;
  --kz-font-size-body-xs: 0.625rem;
  --kz-font-size-body-lg: 1rem;
  --kz-font-size-body-sm: 0.75rem;
  --kz-font-size-body-md: 0.875rem;
  --kz-font-size-title-xl: 2rem;
  --kz-font-size-title-lg: 1.75rem;
  --kz-font-size-title-sm: 1.1rem;
  --kz-font-size-title-md: 1.25rem;
  --kz-font-size-title-xs: 1rem;
  --kz-font-size-display-lg: 5.375rem;
  --kz-font-size-display-sm: 2.5rem;
  --kz-line-height-xl: 2.625rem;
  --kz-line-height-display: 120%;
  --kz-line-height-lg: 2.25rem;
  --kz-line-height-md: 1.5rem;
  --kz-line-height-sm: 1.25rem;
  --kz-line-height-xs: 1rem;
  --kz-line-height-2xs: 0.75rem;
  --kz-opacity-xl: 0.04;
  --kz-opacity-lg: 0.08;
  --kz-opacity-md: 0.25;
  --kz-opacity-sm: 0.5;
  --kz-opacity-xs: 0.75;
  --kz-opacity-2xs: 0.9;
  --kz-opacity-transparent: 0;
  --kz-shadow-action-default-rest: 0px 2px 4px 0px #1c5c5826, inset 0px 0px 0px 1px #121313;
  --kz-shadow-action-default-hovered: 0px 2px 8px 0px #175d5940, inset 0px 0px 0px 1px #7c878680;
  --kz-shadow-action-default-pressed: 0px 1px 8px -2px #003a362e, inset 0px 0px 0px 1px #7c8786bf;
  --kz-shadow-action-default-selected: inset 0px 3px 8px 0px #dce5e5;
  --kz-shadow-action-call-to-action-rest: 0px 2px 4px 0px #365a5873;
  --kz-shadow-action-call-to-action-hovered: 0px 2px 8px 0px #2a8b8599;
  --kz-shadow-action-call-to-action-pressed: 0px 1px 8px -2px #50505073;
  --kz-shadow-focused: inset 0px 0px 0px 2px #21837d, 0px 0px 0px 4px #25948d80;
  --kz-shadow-action-status-success: 0px 2px 4px 0px #12581840, inset 0px 0px 0px 2px #47af4f;
  --kz-shadow-action-status-error: 0px 2px 4px 0px #84273b40, inset 0px 0px 0px 2px #d16f84;
  --kz-shadow-xl: 0px 20px 36px 12px #5c676333;
  --kz-shadow-sm: 0px 2px 8px 0px #3d4d471a;
  --kz-shadow-md: 0px 8px 16px 4px #3d4d471a;
  --kz-shadow-lg: 0px 12px 20px 2px #5c676333;
  --kz-shadow-action-call-to-action-critical-rest: 0px 2px 4px 0px #59363d73;
  --kz-shadow-action-call-to-action-critical-hovered: 0px 2px 8px 0px #8b465599;
  --kz-shadow-action-call-to-action-critical-pressed: 0px 1px 8px -2px #50505073;
  --kz-shadow-none: 0px 0px 0px 0px #000000;
  --kz-shadow-test-this-focus: 0px 0px 0px 2px #21837d, 0px 0px 0px 4px #25948d80;
  --kz-shadow-critical: 0px 0px 8px 0px #91001f40, inset 0px 0px 0px 1px #7c878640;
}

.kz-dark {
  --kz-border-radius-stroke-thin: 1px;
  --kz-border-radius-stroke-regular: 2px;
  --kz-border-radius-stroke-bold: 4px;
  --kz-border-radius-xl: 16px;
  --kz-border-radius-lg: 12px;
  --kz-border-radius-md: 8px;
  --kz-border-radius-sm: 6px;
  --kz-border-radius-xs: 4px;
  --kz-border-radius-square: 0px;
  --kz-border-radius-circle: 999px;
  --kz-color-luna-grey-0: 255 255 255;
  --kz-color-luna-grey-50: 249 252 252;
  --kz-color-luna-grey-100: 239 249 248;
  --kz-color-luna-grey-200: 225 234 233;
  --kz-color-luna-grey-300: 196 209 208;
  --kz-color-luna-grey-400: 163 175 174;
  --kz-color-luna-grey-500: 124 135 134;
  --kz-color-luna-grey-600: 86 94 93;
  --kz-color-luna-grey-700: 53 60 60;
  --kz-color-luna-grey-800: 30 35 35;
  --kz-color-luna-grey-900: 18 19 19;
  --kz-color-luna-grey-1000: 12 13 13;
  --kz-color-terra-green-0: 232 252 234;
  --kz-color-terra-green-100: 195 247 200;
  --kz-color-terra-green-200: 154 233 160;
  --kz-color-terra-green-300: 111 209 119;
  --kz-color-terra-green-400: 71 175 79;
  --kz-color-terra-green-500: 39 132 47;
  --kz-color-terra-green-600: 18 88 24;
  --kz-color-terra-green-700: 7 51 11;
  --kz-color-terra-green-800: 3 26 4;
  --kz-color-terra-green-900: 1 11 2;
  --kz-color-terra-green-1000: 0 5 1;
  --kz-color-neptune-blue-0: 232 243 252;
  --kz-color-neptune-blue-100: 195 224 247;
  --kz-color-neptune-blue-200: 154 197 233;
  --kz-color-neptune-blue-300: 111 165 209;
  --kz-color-neptune-blue-400: 68 123 169;
  --kz-color-neptune-blue-500: 39 90 132;
  --kz-color-neptune-blue-600: 22 71 110;
  --kz-color-neptune-blue-700: 11 48 77;
  --kz-color-neptune-blue-800: 3 15 26;
  --kz-color-neptune-blue-900: 1 6 11;
  --kz-color-neptune-blue-1000: 0 3 5;
  --kz-color-aurora-orange-0: 255 251 235;
  --kz-color-aurora-orange-100: 254 243 199;
  --kz-color-aurora-orange-200: 253 230 138;
  --kz-color-aurora-orange-300: 252 211 77;
  --kz-color-aurora-orange-400: 251 191 36;
  --kz-color-aurora-orange-500: 245 158 11;
  --kz-color-aurora-orange-600: 217 119 6;
  --kz-color-aurora-orange-700: 180 83 9;
  --kz-color-aurora-orange-800: 146 64 14;
  --kz-color-aurora-orange-900: 94 42 12;
  --kz-color-aurora-orange-1000: 38 17 5;
  --kz-color-cupid-red-0: 252 232 237;
  --kz-color-cupid-red-100: 247 195 206;
  --kz-color-cupid-red-200: 233 154 171;
  --kz-color-cupid-red-300: 209 111 132;
  --kz-color-cupid-red-400: 163 66 87;
  --kz-color-cupid-red-500: 132 39 59;
  --kz-color-cupid-red-600: 120 25 45;
  --kz-color-cupid-red-700: 84 12 28;
  --kz-color-cupid-red-800: 26 3 8;
  --kz-color-cupid-red-900: 11 1 3;
  --kz-color-cupid-red-1000: 5 0 1;
  --kz-color-surface-blanket: 255 255 255;
  --kz-color-shadow-weak: 21 35 30;
  --kz-color-shadow-action-brand-selected: var(--kz-color-bsport-turquoise-800);
  --kz-color-bsport-turquoise-0: 240 250 249;
  --kz-color-bsport-turquoise-100: 220 229 229;
  --kz-color-bsport-turquoise-200: 152 217 212;
  --kz-color-bsport-turquoise-300: 133 204 200;
  --kz-color-bsport-turquoise-400: 50 166 158;
  --kz-color-bsport-turquoise-500: 37 148 141;
  --kz-color-bsport-turquoise-600: 33 131 125;
  --kz-color-bsport-turquoise-700: 15 102 96;
  --kz-color-bsport-turquoise-800: 4 48 45;
  --kz-color-bsport-turquoise-900: 1 26 24;
  --kz-color-bsport-turquoise-1000: 0 6 5;
  --kz-color-shadow-strong: 21 35 30;
  --kz-color-surface-highlighted: 33 131 125;
  --kz-color-surface-action-disabled: 124 135 134;
  --kz-color-surface-action-main-strong-disabled: 124 135 134;
  --kz-color-surface-action-main-weak-rest: 33 131 125;
  --kz-color-surface-action-main-weak-hovered: 33 131 125;
  --kz-color-surface-action-main-weak-pressed: 33 131 125;
  --kz-color-surface-action-critical-weak-rest: 132 39 59;
  --kz-color-surface-action-critical-weak-hovered: 132 39 59;
  --kz-color-surface-action-critical-weak-pressed: 132 39 59;
  --kz-color-surface-action-default-flat-rest: 124 135 134;
  --kz-color-surface-action-default-flat-hovered: 124 135 134;
  --kz-color-surface-action-default-flat-pressed: 124 135 134;
  --kz-color-surface-action-default-onstrong-rest: 255 255 255;
  --kz-color-surface-action-default-onstrong-hovered: 255 255 255;
  --kz-color-surface-action-default-onstrong-pressed: 255 255 255;
  --kz-color-stroke-action-default-rest: 124 135 134;
  --kz-color-stroke-action-default-hovered: 124 135 134;
  --kz-color-stroke-action-default-pressed: 124 135 134;
  --kz-color-stroke-action-default-disabled: 124 135 134;
  --kz-color-stroke-default: 124 135 134;
  --kz-color-stroke-strong: 124 135 134;
  --kz-color-stroke-weak: 124 135 134;
  --kz-color-onsurface-disabled: 30 35 35;
  --kz-color-surface-page: var(--kz-color-luna-grey-1000);
  --kz-color-surface-page-navigation: var(--kz-color-luna-grey-1000);
  --kz-color-surface-default: var(--kz-color-luna-grey-800);
  --kz-color-surface-default-elevated: var(--kz-color-luna-grey-700);
  --kz-color-surface-default-weak: var(--kz-color-luna-grey-900);
  --kz-color-surface-default-weaker: var(--kz-color-luna-grey-900);
  --kz-color-surface-default-weakest: var(--kz-color-luna-grey-900);
  --kz-color-surface-main-strong: var(--kz-color-bsport-turquoise-300);
  --kz-color-surface-main-weak: var(--kz-color-bsport-turquoise-900);
  --kz-color-surface-default-strong: var(--kz-color-luna-grey-100);
  --kz-color-surface-status-info-strong: var(--kz-color-neptune-blue-300);
  --kz-color-surface-status-positive-strong: var(--kz-color-terra-green-400);
  --kz-color-surface-status-positive-weak: var(--kz-color-terra-green-800);
  --kz-color-surface-status-info-weak: var(--kz-color-neptune-blue-800);
  --kz-color-surface-status-warning-strong: var(--kz-color-aurora-orange-500);
  --kz-color-surface-status-critical-strong: var(--kz-color-cupid-red-300);
  --kz-color-surface-status-critical-weak: var(--kz-color-cupid-red-800);
  --kz-color-surface-status-warning-weak: var(--kz-color-aurora-orange-1000);
  --kz-color-stroke-main: var(--kz-color-bsport-turquoise-300);
  --kz-color-stroke-action-default-selected: var(--kz-color-bsport-turquoise-600);
  --kz-color-stroke-status-info: var(--kz-color-neptune-blue-400);
  --kz-color-stroke-status-positive: var(--kz-color-terra-green-500);
  --kz-color-stroke-status-warning: var(--kz-color-aurora-orange-600);
  --kz-color-stroke-status-critical: var(--kz-color-cupid-red-400);
  --kz-color-surface-action-main-strong-rest: var(--kz-color-bsport-turquoise-300);
  --kz-color-surface-action-main-strong-hovered: var(--kz-color-bsport-turquoise-400);
  --kz-color-surface-action-main-strong-pressed: var(--kz-color-bsport-turquoise-600);
  --kz-color-surface-action-main-strong-selected: var(--kz-color-bsport-turquoise-600);
  --kz-color-surface-action-default-elevated-rest: var(--kz-color-luna-grey-800);
  --kz-color-surface-action-critical-strong-rest: var(--kz-color-cupid-red-600);
  --kz-color-surface-action-critical-strong-hovered: var(--kz-color-cupid-red-500);
  --kz-color-surface-action-critical-strong-pressed: var(--kz-color-cupid-red-700);
  --kz-color-surface-action-default-elevated-hovered: var(--kz-color-luna-grey-600);
  --kz-color-surface-action-default-elevated-pressed: var(--kz-color-luna-grey-800);
  --kz-color-surface-action-default-elevated-selected: var(--kz-color-bsport-turquoise-800);
  --kz-color-onsurface-default-onstrong: var(--kz-color-luna-grey-900);
  --kz-color-onsurface-default: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-main-strong: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-main-weak: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-action-main-rest: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-action-main-hovered: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-action-main-pressed: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-action-main-selected: var(--kz-color-bsport-turquoise-200);
  --kz-color-onsurface-action-main-disabled: 255 255 255;
  --kz-color-onsurface-weak: var(--kz-color-luna-grey-300);
  --kz-color-onsurface-weaker: var(--kz-color-luna-grey-500);
  --kz-color-onsurface-link-rest: var(--kz-color-bsport-turquoise-300);
  --kz-color-onsurface-link-hovered: var(--kz-color-bsport-turquoise-200);
  --kz-color-onsurface-link-pressed: var(--kz-color-bsport-turquoise-400);
  --kz-color-onsurface-status-info-strong: var(--kz-color-neptune-blue-0);
  --kz-color-onsurface-status-info-weak: var(--kz-color-neptune-blue-100);
  --kz-color-onsurface-status-info-onstrong: var(--kz-color-neptune-blue-600);
  --kz-color-onsurface-status-positive-strong: var(--kz-color-terra-green-0);
  --kz-color-onsurface-status-positive-weak: var(--kz-color-terra-green-100);
  --kz-color-onsurface-status-positive-onstrong: var(--kz-color-terra-green-700);
  --kz-color-onsurface-status-warning-strong: var(--kz-color-aurora-orange-0);
  --kz-color-onsurface-status-critical-strong: var(--kz-color-cupid-red-0);
  --kz-color-onsurface-status-critical-weak: var(--kz-color-cupid-red-100);
  --kz-color-onsurface-status-critical-onstrong: var(--kz-color-cupid-red-700);
  --kz-color-onsurface-status-warning-weak: var(--kz-color-aurora-orange-200);
  --kz-color-onsurface-status-warning-onstrong: var(--kz-color-aurora-orange-900);
  --kz-color-shadow-action-default-selected: var(--kz-color-bsport-turquoise-800);
  --kz-color-onsurface-action-default: var(--kz-color-bsport-turquoise-0);
  --kz-color-onsurface-action-critical: var(--kz-color-bsport-turquoise-0);
  --kz-color-surface-action-selected-rest: var(--kz-color-bsport-turquoise-300);
  --kz-color-surface-action-selected-hovered: var(--kz-color-bsport-turquoise-400);
  --kz-color-surface-action-selected-pressed: var(--kz-color-bsport-turquoise-600);
  --kz-color-stroke-divider: var(--kz-color-stroke-default);
  --kz-dimension-element-2xs: 4px;
  --kz-dimension-element-xs: 8px;
  --kz-dimension-element-sm: 16px;
  --kz-dimension-element-md: 24px;
  --kz-dimension-element-lg: 36px;
  --kz-dimension-element-xl: 48px;
  --kz-dimension-element-2xl: 72px;
  --kz-dimension-element-3xl: 140px;
  --kz-dimension-xs: 4px;
  --kz-dimension-sm: 8px;
  --kz-dimension-md: 16px;
  --kz-dimension-lg: 24px;
  --kz-dimension-xl: 36px;
  --kz-dimension-2xl: 72px;
  --kz-dimension-3xl: 140px;
  --kz-dimension-component-content-centered: 1200px;
  --kz-dimension-corner-xl: 16px;
  --kz-dimension-stroke-thin: 1px;
  --kz-dimension-stroke-regular: 2px;
  --kz-dimension-stroke-bold: 4px;
  --kz-dimension-corner-lg: 12px;
  --kz-dimension-corner-md: 8px;
  --kz-dimension-corner-sm: 6px;
  --kz-dimension-corner-xs: 4px;
  --kz-dimension-corner-square: 0px;
  --kz-dimension-corner-circle: 999px;
  --kz-dimension-component-select: 320px;
  --kz-dimension-component-tooltip: 240px;
  --kz-dimension-component-popover-min: 240px;
  --kz-dimension-component-popover-max: 320px;
  --kz-dimension-component-list-item-min: 40px;
  --kz-dimension-component-toast: 380px;
  --kz-dimension-component-modal-min-sm: 360px;
  --kz-dimension-component-modal-min-md: 600px;
  --kz-dimension-component-modal-min-lg: 1000px;
  --kz-dimension-font-size-display-lg: 72px;
  --kz-dimension-font-size-display-md: 40px;
  --kz-dimension-font-size-title-xl: 32px;
  --kz-dimension-font-size-title-lg: 28px;
  --kz-dimension-font-size-title-md: 20px;
  --kz-dimension-font-size-title-sm: 18px;
  --kz-dimension-font-size-title-xs: 16px;
  --kz-dimension-font-size-body-lg: 16px;
  --kz-dimension-font-size-body-md: 14px;
  --kz-dimension-font-size-body-sm: 12px;
  --kz-dimension-font-size-body-xs: 10px;
  --kz-dimension-font-line-height-display-lg: 86px;
  --kz-dimension-font-line-height-display-sm: 48px;
  --kz-dimension-font-line-height-xl: 42px;
  --kz-dimension-font-line-height-lg: 36px;
  --kz-dimension-font-line-height-md: 24px;
  --kz-dimension-font-line-height-sm: 20px;
  --kz-dimension-font-line-height-xs: 16px;
  --kz-dimension-font-line-height-2xs: 12px;
  --kz-dimension-component-modal-max-sm: 400px;
  --kz-dimension-component-modal-max-md: 800px;
  --kz-dimension-component-modal-max-lg: 1200px;
  --kz-dimension-breakpoint-mobile: 480px;
  --kz-dimension-breakpoint-tablet: 1024px;
  --kz-dimension-component-breadcrumb: 280px;
  --kz-dimension-element-4xl: 200px;
  --kz-dimension-action-lg: var(--kz-dimension-element-xl);
  --kz-dimension-action-md: var(--kz-dimension-element-lg);
  --kz-dimension-action-sm: var(--kz-dimension-element-md);
  --kz-dimension-icon-xl: var(--kz-dimension-element-xl);
  --kz-dimension-icon-lg: var(--kz-dimension-element-lg);
  --kz-dimension-icon-md: var(--kz-dimension-element-md);
  --kz-dimension-icon-sm: var(--kz-dimension-element-sm);
  --kz-dimension-icon-xs: var(--kz-dimension-element-xs);
  --kz-font-weight-strong: 700;
  --kz-font-weight-weak: 400;
  --kz-font-size-body-xs: 0.625rem;
  --kz-font-size-body-lg: 1rem;
  --kz-font-size-body-sm: 0.75rem;
  --kz-font-size-body-md: 0.875rem;
  --kz-font-size-title-xl: 2rem;
  --kz-font-size-title-lg: 1.75rem;
  --kz-font-size-title-sm: 1.1rem;
  --kz-font-size-title-md: 1.25rem;
  --kz-font-size-title-xs: 1rem;
  --kz-font-size-display-lg: 5.375rem;
  --kz-font-size-display-sm: 2.5rem;
  --kz-line-height-xl: 2.625rem;
  --kz-line-height-display: 120%;
  --kz-line-height-lg: 2.25rem;
  --kz-line-height-md: 1.5rem;
  --kz-line-height-sm: 1.25rem;
  --kz-line-height-xs: 1rem;
  --kz-line-height-2xs: 0.75rem;
  --kz-opacity-xl: 0.04;
  --kz-opacity-lg: 0.08;
  --kz-opacity-md: 0.25;
  --kz-opacity-sm: 0.5;
  --kz-opacity-xs: 0.75;
  --kz-opacity-2xs: 0.9;
  --kz-opacity-transparent: 0;
  --kz-shadow-action-default-rest: 0px 2px 4px 0px #1c5c5826, inset 0px 0px 0px 1px #121313;
  --kz-shadow-action-default-hovered: 0px 2px 8px 0px #175d5940, inset 0px 0px 0px 1px #7c878680;
  --kz-shadow-action-default-pressed: 0px 1px 8px -2px #003a362e, inset 0px 0px 0px 1px #7c8786bf;
  --kz-shadow-action-default-selected: inset 0px 3px 8px 0px #dce5e5;
  --kz-shadow-action-call-to-action-rest: 0px 2px 4px 0px #365a5873;
  --kz-shadow-action-call-to-action-hovered: 0px 2px 8px 0px #2a8b8599;
  --kz-shadow-action-call-to-action-pressed: 0px 1px 8px -2px #50505073;
  --kz-shadow-focused: inset 0px 0px 0px 2px #21837d, 0px 0px 0px 4px #25948d80;
  --kz-shadow-action-status-success: 0px 2px 4px 0px #12581840, inset 0px 0px 0px 2px #47af4f;
  --kz-shadow-action-status-error: 0px 2px 4px 0px #84273b40, inset 0px 0px 0px 2px #d16f84;
  --kz-shadow-xl: 0px 20px 36px 12px #5c676333;
  --kz-shadow-sm: 0px 2px 8px 0px #3d4d471a;
  --kz-shadow-md: 0px 8px 16px 4px #3d4d471a;
  --kz-shadow-lg: 0px 12px 20px 2px #5c676333;
  --kz-shadow-action-call-to-action-critical-rest: 0px 2px 4px 0px #59363d73;
  --kz-shadow-action-call-to-action-critical-hovered: 0px 2px 8px 0px #8b465599;
  --kz-shadow-action-call-to-action-critical-pressed: 0px 1px 8px -2px #50505073;
  --kz-shadow-none: 0px 0px 0px 0px #000000;
  --kz-shadow-test-this-focus: 0px 0px 0px 2px #21837d, 0px 0px 0px 4px #25948d80;
  --kz-shadow-critical: 0px 0px 8px 0px #91001f40, inset 0px 0px 0px 1px #7c878640;
}
