.bs-fabrique-radio--root {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--bs-space-size-2);
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 0;
  padding: 0;
  min-height: 20px;

  /* Remove default input styles like outline and box-shadow */
  outline: none;
  box-shadow: none;
  /* Reset any default background, text, and cursor styles */
  background: transparent;
  cursor: pointer;
}

.bs-fabrique-radio__input {
  display: none;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.bs-fabrique-radio__icon {
  width: var(--bs-icon-size-md);
  height: var(--bs-icon-size-md);
}

/* DEFAULT VARIANT */
.bs-fabrique-radio--checked--main {
  fill: var(--bs-color-icon-brand-main);
  stroke-width: 0;
}

.bs-fabrique-radio--unchecked {
  stroke: var(--bs-color-icon-weak);
}

.bs-fabrique-radio__label {
  color: var(--bs-color-text-default);
}

/* DISABLED VARIANT */
.bs-fabrique-radio--disabled {
  fill: var(--bs-color-icon-disabled);
}

.bs-fabrique-radio__text--disabled {
  color: var(--bs-color-text-disabled);
}

/* INVERSED VARIANT */
.bs-fabrique-radio--unchecked--inversed {
  stroke: var(--bs-color-icon-inverse-default);
}

.bs-fabrique-radio--checked--inversed {
  fill: var(--bs-color-icon-inverse-default);
  stroke-width: 0;
}

.bs-fabrique-radio__text--inversed {
  color: var(--bs-color-text-inverse-default);
}

.bs-fabrique-radio__captiontext {
  color: var(--bs-color-text-weaker);
}

.bs-fabrique-radio__textwrapper {
  width: fit-content;
}
