# Ignore directories
build
coverage
.gitlab
.vscode
node_modules
src/public
public
flow
src/i18n/locales
src/i18n/source

# Ignore files
**/*.mdx
**/*.md

# Generated JSON file
src/i18n/utils/timezone-country/data.json
