.bs-new-offer-booking-page {
  margin: var(--spacing-4) 0;
  max-width: 1180px;
  width: 100%;
  container: bsOfferBookingPage / inline-size;
}

.bs-new-offer-booking {
  display: grid;
  grid-template-columns: 1fr 375px;
  gap: var(--spacing-4);
}

.bs-new-offer-booking-with-header {
  display: grid;
  gap: var(--spacing-4);
  margin: 0 auto;
  padding: 0 var(--spacing-2);
}

.bs-new-offer-booking__header,
.bs-new-offer-booking__spot-selector__header {
  display: grid;
  align-items: center;
  grid-template-columns: 24px 1fr;
  gap: var(--spacing-2);
  padding-left: var(--spacing-2);
}

.bs-new-offer-booking__header--loading {
  width: 350px;
  max-width: 100%;
  height: 30px;
}

.bs-new-offer-booking__consumer-payment-packs__arrow {
  width: 24px;
  height: 24px;
  line-height: 1;
}

.bs-new-offer-booking__consumer-payment-packs__arrow:hover {
  background: rgba(0, 0, 0, 0.04);
}

.bs-new-offer-booking__consumer-payment-packs__title,
.bs-new-offer-booking__spot-selector__header__text {
  font-family: var(--h5-fontFamily);
  font-size: var(--h4-fontSize);
  font-weight: var(--body1-fontWeight);
  letter-spacing: var(--h5-letterSpacing);
  line-height: var(--h5-lineHeight);
}

.bs-new-offer-booking__consumer-payment-packs__title--loading {
  width: 250px !important;
  height: 35px !important;
}

.bs-new-offer-booking__spot-selector__confirm {
  display: none;
}

.bs-new-offer-booking__spot-selector__confirm-button {
  border-radius: var(--spacing-3);
  flex: 1;
}

@container bsOfferBookingPage (width < 900px) {
  .bs-new-offer-booking {
    grid-template-columns: 1fr 300px;
  }
}

@container bsOfferBookingPage (width < 750px) {
  .bs-new-offer-booking {
    grid-template-columns: 1fr;
  }

  .bs-new-offer-booking__offer-summary > div {
    width: 100%;
    max-width: none;
  }
  .bs-new-offer-booking__offer-summary {
    position: sticky;
    bottom: 0;
  }

  .bs-new-offer-booking__spot-selector__confirm {
    display: flex;
    justify-content: center;
    padding: var(--spacing-1) var(--spacing-2);
    width: 100%;
  }
}
