.bs-new-offer-booking-page {
  max-width: 1180px;
  width: 100%;
  height: 100%;
  container: bsOfferBookingPage / inline-size;
  display: grid;
}

.bs-new-offer-booking-page__pricing_container {
  display: grid;
  grid-template:
    'header-left header-right'
    'main-left main-right';
  grid-template-columns: calc(1180px * 0.66) auto;
  grid-template-rows: 5vh calc(90vh - 5vh);
  column-gap: var(--spacing-4);
  row-gap: var(--spacing-1);
  margin: var(--spacing-4) 0;
}

.bs-new-offer-booking-header {
  grid-area: header-left;
  display: flex;
  height: fit-content;
  flex-direction: row;
  gap: var(--spacing-2);
  width: 100%;
  align-items: center;
}

.bs-new-offer-booking {
  grid-area: main-left;
  overflow: auto;
  height: 100%;
  padding-bottom: var(--spacing-6);
  padding-right: var(--spacing-1);
}

.bs-new-offer-booking::-webkit-scrollbar {
  width: var(--spacing-1);
  background-color: #fff;
  border-top-right-radius: var(--border-radius-2);
}

.bs-new-offer-booking::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius-1);
  background-color: #bdbdbd;
}

.bs-new-offer-booking::-webkit-scrollbar-track {
  width: var(--spacing-1);
  margin: var(--spacing-1);
  border-radius: var(--border-radius-1);
  background-color: #eeeeee;
}

.bs-new-offer-booking__offer-summary {
  grid-area: main-right;
  align-self: start;
}

/* SPOT SCHEDULING */

.bs-new-offer-booking__spot-selector__container {
  display: grid;
  grid-template:
    'header-left header-right'
    'main main';
  grid-template-rows: 5vh calc(90vh - 5vh);
  gap: var(--spacing-4);
}

.bs-new-offer-booking__spot-selector__go-back-container {
  grid-area: header-left;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  width: 100%;
  align-items: center;
  padding: var(--spacing-4) var(--spacing-4);
}

.bs-new-offer-booking__spot-selector__blueprint {
  grid-area: main;
}

.bs-new-offer-booking__spot-selector__confirm {
  display: none;
}

.bs-new-offer-booking__spot-selector__confirm-button {
  border-radius: var(--spacing-3);
  flex: 1;
}

.bs-new-offer-booking__header--loading {
  width: 350px;
  max-width: 100%;
  height: 30px;
}

.bs-new-offer-booking__consumer-payment-packs__arrow:hover {
  background: rgba(0, 0, 0, 0.04);
}

.bs-new-offer-booking__consumer-payment-packs__title,
.bs-new-offer-booking__spot-selector__header__text {
  font-family: var(--h5-fontFamily);
  font-size: var(--h4-fontSize);
  font-weight: var(--body1-fontWeight);
  letter-spacing: var(--h5-letterSpacing);
  line-height: var(--h5-lineHeight);
}

.bs-new-offer-booking__consumer-payment-packs__title--loading {
  width: 250px !important;
  height: 35px !important;
}

@container bsOfferBookingPage (width < 1180px) {
  .bs-new-offer-booking-page__pricing_container {
    grid-template-columns: calc(1180px * 0.55) auto;
  }
  .bs-new-offer-booking-header {
    padding-left: var(--spacing-2);
  }
  .bs-new-offer-booking,
  .bs-offer-booking-waiting-list__status__container {
    padding-left: var(--spacing-2);
  }
  .bs-new-offer-booking__offer-summary,
  .bs-offer-booking-waiting-list__summary__container {
    padding-right: var(--spacing-2);
  }
}
@container bsOfferBookingPage (width < 950px) {
  .bs-new-offer-booking-page__pricing_container {
    height: 100%;
    grid-template:
      'header'
      'panel';
    grid-template-columns: 1fr;
    grid-template-rows: 50px calc(90vh - 100px);
  }
  .bs-new-offer-booking-header {
    grid-area: header;
    align-self: center;
    padding: 0 var(--spacing-2);
  }

  .bs-new-offer-booking {
    align-self: start;
    grid-area: panel;
    overflow: auto;
    height: 100%;
    padding-right: var(--spacing-2);
  }

  .bs-new-offer-booking__offer-summary {
    position: sticky;
    bottom: 0;
    width: 100vw;
    padding: 0;
    grid-area: unset;
  }
  .bs-new-offer-booking__spot-selector__container {
    display: grid;
    grid-template:
      'header'
      'main';
    grid-template-rows: 5vh calc(90vh - 10vh);
    gap: var(--spacing-2);
  }
  .bs-new-offer-booking__spot-selector__confirm {
    display: flex;
    justify-content: center;
    padding: var(--spacing-1) var(--spacing-2);
    width: 100%;
    position: sticky;
    bottom: 0;
  }
  .bs-new-offer-booking__spot-selector__go-back-container {
    grid-area: header;
  }
  .bs-new-offer-booking__spot-selector__blueprint {
    grid-area: main;
    overflow: scroll;
  }
}
