.bs-new-offer-booking-page {
  max-width: 1180px;
  width: 100%;
  height: 100%;
  /* APP BAR HEIHGT */
  max-height: calc(100dvh - 48px);
  container: bsOfferBookingPage / inline-size;
  display: grid;
  overflow: hidden;
}

.bs-new-offer-booking-page__pricing_container {
  display: grid;
  grid-template:
    'header-left header-right'
    'main-left main-right';
  /* The available height is the DVH - size of apparbar - size of the first row*/
  grid-template-columns: calc(1180px * 0.66) auto;
  grid-template-rows: 5dvh calc(100dvh - 48px - 5dvh);
  column-gap: var(--spacing-4);
  row-gap: var(--spacing-1);
  margin: 0;
}

.bs-new-offer-booking-header {
  grid-area: header-left;
  display: flex;
  height: fit-content;
  flex-direction: row;
  gap: var(--spacing-2);
  width: 100%;
  align-items: center;
}

.bs-new-offer-booking {
  grid-area: main-left;
  overflow: auto;
  height: 100%;
  padding-bottom: var(--spacing-6);
  padding-right: var(--spacing-1);
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bs-new-offer-booking::-webkit-scrollbar {
  display: none;
}

.bs-new-offer-booking__offer-summary {
  grid-area: main-right;
  align-self: start;
  padding: var(--spacing-2);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--border-radius-3);
  border-color: var(--border-color);
  background-color: white;
}

/* SPOT SCHEDULING */

.bs-new-offer-booking-page--spot-selector {
  width: 100%;
  height: 100%;
  /* APP BAR HEIHGT */
  max-height: calc(100dvh - 48px);
  container: bsOfferBookingPageSpotSelector / inline-size;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
}

.bs-new-offer-booking__spot-selector__container {
  display: grid;
  grid-template:
    'header-left header-right'
    'main main';
  grid-template-rows: 5dvh calc(90dvh - 5dvh);
  gap: var(--spacing-4);
  min-height: 0;
  width: 70%;
}

.bs-new-offer-booking__spot-selector__go-back-container {
  grid-area: header-left;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-2);
  width: 100%;
  align-items: center;
  padding: var(--spacing-4) var(--spacing-4);
  height: fit-content;
}

.bs-new-offer-booking__spot-selector__blueprint {
  grid-area: main;
}

.bs-new-offer-booking__spot-selector__confirm {
  display: none;
}

.bs-new-offer-booking__spot-selector__confirm-button {
  border-radius: var(--border-radius-6);
  flex: 1;
  width: 100%;
  max-height: 48px;
  /*Need to use 6px value instead of var to be aligned with MUI Button, used on the next screen*/
  padding: 6px var(--spacing-2);
}

@container bsOfferBookingPageSpotSelector (width < 950px) {
  .bs-new-offer-booking__spot-selector__container {
    display: grid;
    grid-template:
      'header'
      'main';
    gap: var(--spacing-2);
    width: 100%;
  }
  .bs-new-offer-booking__spot-selector__confirm {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    justify-content: flex-end;
    padding: var(--spacing-1) var(--spacing-2);
    width: 100%;
    position: sticky;
    bottom: 0;
  }
  .bs-new-offer-booking__spot-selector__go-back-container {
    grid-area: header;
    padding: 0 var(--spacing-2);
  }
  .bs-new-offer-booking__spot-selector__blueprint {
    grid-area: main;
    overflow: scroll;
  }

  .bs-new-offer-booking__spot-selector__go-to-checkout {
    color: var(--color-primary-main);
    border-radius: var(--border-radius-4);
    flex: 1;
  }
}

.bs-new-offer-booking__header--loading {
  width: 350px;
  max-width: 100%;
  height: 30px;
}

.bs-new-offer-booking__consumer-payment-packs__arrow-icon {
  color: var(--color-grey-main);
}

.bs-new-offer-booking__consumer-payment-packs__title,
.bs-new-offer-booking__spot-selector__header__text {
  font-family: var(--h5-fontFamily);
  font-size: var(--h4-fontSize);
  font-weight: var(--body1-fontWeight);
  letter-spacing: var(--h5-letterSpacing);
  line-height: var(--h5-lineHeight);
}

.bs-new-offer-booking__consumer-payment-packs__title--loading {
  width: 250px !important;
  height: 35px !important;
}

@media screen and (max-width: 1180px) {
  .bs-new-offer-booking-page {
    display: flex;
    overflow: auto;
    max-height: unset;
    max-height: none;
  }
}

@container bsOfferBookingPage (width < 1180px) {
  .bs-new-offer-booking-page__pricing_container {
    grid-template-columns: calc(1180px * 0.55) auto;
  }
  .bs-new-offer-booking-header {
    padding-left: var(--spacing-2);
  }
  .bs-new-offer-booking,
  .bs-offer-booking-waiting-list__status__container {
    padding-left: var(--spacing-2);
  }
  .bs-new-offer-booking__offer-summary,
  .bs-offer-booking-waiting-list__summary__container {
    padding-right: var(--spacing-2);
  }
}

@container bsOfferBookingPage (width < 950px) {
  .bs-new-offer-booking-page__pricing_container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .bs-new-offer-booking-header {
    align-self: center;
    padding: 0 var(--spacing-2);
  }

  .bs-new-offer-booking {
    align-self: start;
    overflow: auto;
    height: 100%;
    padding-right: var(--spacing-2);
  }

  .bs-new-offer-booking__offer-summary {
    display: none;
  }
}
