.bs-navigation-list-root__link,
.bs-navigation-list-root__link:hover {
  color: initial;
}

.bs-navigation__navigation-item--selected .bs-fabrique-menu-item__button {
  background-color: var(--bs-color-action-brand-main);
  color: var(--bs-color-text-inverse-default);
}

.bs-navigation__navigation-item .bs-fabrique-menu-item__button {
  border-right: none;
  margin: 0 var(--bs-space-size-4);
  border-radius: var(--bs-border-radius-sm);
}

.bs-navigation__navigation-item .bs-fabrique-menu-item__button:hover {
  background-color: var(--bs-color-action-brand-main);
  color: var(--bs-color-text-inverse-default);
}
