.bs-contract-new-checkout__container__page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.bs-contract-new-checkout__container {
  margin-top: var(--spacing-4);
  width: 1180px;
}

.bs-contract-new-checkout__container__columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--spacing-2);
}

.bs-contract-new-checkout__container__grid {
  width: 100%;
  display: grid;
  grid-gap: 0px var(--spacing-2);
  grid-template:
    'header header'
    'payment offer-summary'
    'payment contract-billing'
    'payment x';
  grid-template-columns: 774px 374px;
  grid-template-rows: auto auto auto;
}

.bs-contract-new-checkout__payment-method {
  display: flex;
  flex-direction: column;
  grid-area: payment;
}

.bs-contract-new-checkout__basket-summary {
  grid-area: offer-summary;
}

.bs-contract-new-checkout__billing-info {
  grid-area: contract-billing;
}

.bs-contract-new-checkout__container__navigation__go-back {
  grid-area: header;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  gap: var(--spacing-2);
  margin-bottom: var(--spacing-2);
}

.bs-contract-new-checkout__container__navigation__arrow-icon {
  color: var(--color-grey-600);
}

.bs-contract-new-checkout__container__navigation__title {
  font-family: var(--h5-fontFamily);
  font-size: var(--h4-fontSize);
  font-weight: var(--body1-fontWeight);
  letter-spacing: var(--h5-letterSpacing);
  line-height: var(--h5-lineHeight);
}

.bs-boutique-contract-checkout-page {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .bs-contract-new-checkout__container {
    width: 95%;
    gap: var(--spacing-3);
  }

  .bs-contract-new-checkout__container__grid {
    grid-template-columns: 65% 35%;
  }

  .bs-contract-new-checkout__payment-method {
    max-width: 100%;
    flex-shrink: 2;
  }

  .bs-contract-new-checkout__basket-summary {
    display: flex;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 850px) {
  .bs-contract-new-checkout__container {
    max-width: 100%;
  }

  .bs-contract-new-checkout__container__grid {
    grid-gap: var(--spacing-2) 0px;
    grid-template:
      'header'
      'offer-summary'
      'payment'
      'contract-billing';
  }

  .bs-contract-new-checkout__payment-method {
    max-width: 100%;
  }

  .bs-contract-new-checkout__basket-summary {
    max-width: 100%;
    width: 100%;
  }

  .bs-contract-new-checkout__container__grid {
    grid-template-columns: 100%;
    grid-template:
      'header'
      'offer-summary'
      'payment'
      'contract-billing';
    margin-bottom: 20vh;
  }
}
