.bs-select__container {
  display: flex;
  position: relative;
  width: fit-content;
}

.bs-select__container,
.bs-select__dropdown__list {
  max-width: 300px;
}

.bs-select__button {
  display: flex;
  flex: 1;
  align-items: center;
  background: var(--color-background-paper);
  border-radius: var(--border-radius-8);
  height: 40px;
  border: 2px solid var(--color-grey-light);
  cursor: pointer;
  outline: none;
  width: 100%;
  padding: 0;
}

.bs-select__button:hover,
.bs-select__button:focus {
  color: var(--color-primary-main);
  border-color: var(--color-primary-main);
}

.bs-select__button:hover .bs-select__input__container__text,
.bs-select__button:focus .bs-select__input__container__text,
.bs-select__button:hover .bs-select__input__container__icons,
.bs-select__button:focus .bs-select__input__container__icons {
  color: inherit;
}

.bs-select__input__container {
  width: 100%;
  padding: 0 var(--spacing-2);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-1);
  background: none;
  outline: none;
  text-align: left;
  border: none;
  font-size: var(--subtitle1-fontSize);
  font-weight: var(--subtitle1-fontWeight);
  letter-spacing: var(--subtitle1-letterSpacing);
  line-height: var(--subtitle1-lineHeight);
  font-family: var(--fontFamily);
}

.bs-select__input__container__text {
  color: var(--color-grey-dark);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bs-select__focused {
  border-color: var(--color-primary-main);
}

.bs-select__text__primary {
  color: var(--color-primary-main);
}

.bs-select__input__container__icons {
  display: flex;
}

.bs-select__idle__text {
  color: var(--color-grey-dark);
}

.bs-select__input__container__icons button {
  display: flex;
  color: inherit;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.bs-select__dropdown__list {
  display: flex;
  flex-direction: column;
  position: absolute;
  background: var(--color-background-paper);
  display: flex;
  list-style: none;
  left: 0;
  top: 100%;
  padding: var(--spacing-1) 0;
  margin: var(--spacing-1) 0 0;
  border-radius: var(--border-radius-4);
  border: 2px solid var(--color-grey-light);
  overflow-y: auto;
  min-width: 200px;
  max-height: 300px;
  z-index: 2;
}

.bs-select__dropdown__list__item {
  display: flex;
  font-family: var(--fontFamily);
  color: inherit;
}

.bs-select__dropdown__list__item button {
  cursor: pointer;
  padding: var(--spacing-1) var(--spacing-3);
  background: none;
  border: none;
  text-align: left;
  flex: 1;
  font-weight: var(--body2-fontWeight);
  font-size: var(--body2-fontSize);
  line-height: var(--body2-lineHeight);
  letter-spacing: var(--body2-letterSpacing);
  font-family: inherit;
  outline: none;
  color: inherit;
}

.bs-select__dropdown__list__item:hover,
.bs-select__dropdown__list__item button:focus {
  background: var(--color-grey-light);
}

@media screen and (max-width: 1100px) {
  .bs-select__container {
    width: inherit;
  }
}

@media screen and (max-width: 424px) {
  .bs-select__container,
  .bs-select__dropdown__list {
    max-width: none;
  }

  .bs-select__dropdown__list {
    width: 100%;
  }
}
