.bs-expandable-controller {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-space-size-2) 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.bs-expandable-controller:focus {
  outline: none;
}

.bs-expandable-controller .bs-expandable-controller__arrow {
  transition: transform 0.3s ease-in-out;
  stroke: var(--bs-color-icon-weak);
  width: var(--bs-icon-size-md);
  height: var(--bs-icon-size-md);
}

.bs-expandable-controller.expanded .bs-expandable-controller__arrow {
  transform: rotate(180deg);
}
