.primary {
    color: var(--color-primary-main);
}

.default {
    color: var(--color-grey-dark);
}

.secondary {
    color: var(--color-secondary-main);
}

.icon{
    margin-left: 16px;
    font-size: 1px;
    color: steelblue;
}
