/*  */
/* Date picker */
/*  */

@keyframes rotateIconOnOpen {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotateIconOnClose {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bs-fabrique-date-picker__header__buttons__left,
.bs-fabrique-date-picker__header__buttons__right {
  color: var(--bs-grey-800);
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  padding: 0px;
  height: var(--bs-space-size-6);
  width: var(--bs-space-size-6);
}

.bs-fabrique-date-picker__header__buttons__left,
.bs-fabrique-date-picker__header__buttons__right {
  color: var(--bs-brand-main);
}

.bs-fabrique-date-picker__calendar__day::before,
.bs-fabrique-date-picker__header__buttons__left::before,
.bs-fabrique-date-picker__header__buttons__right::before {
  transition: 0.2s background-color;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.bs-fabrique-date-picker__calendar__day::before,
.bs-fabrique-date-picker__header__buttons__left::before,
.bs-fabrique-date-picker__header__buttons__right::before {
  border-radius: 50%;
}

.bs-fabrique-date-picker__header__buttons__left:active::before,
.bs-fabrique-date-picker__header__buttons__right:active::before {
  background-color: var(--bs-brand-main);
}

.bs-fabrique-date-picker {
  max-width: 336px;
  overflow: hidden;
  padding-top: var(--bs-space-size-4);
  padding-bottom: var(--bs-space-size-4);
  padding-left: var(--bs-space-size-8);
  padding-right: var(--bs-space-size-8);
}

.bs-fabrique-date-picker__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: var(--bs-space-size-2);
  padding-left: var(--bs-space-size-3);
}

.bs-fabrique-date-picker__header__date__icon {
  padding: var(--bs-space-size-2);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  border: none;
  margin: 0;
  box-sizing: content-box;
}

.bs-fabrique-date-picker__header__date__icon--year-picker-open {
  animation: rotateIconOnOpen var(--bs-transition-duration-normal) ease-in-out;
}

.bs-fabrique-date-picker__header__date__icon--year-picker-close {
  animation: rotateIconOnClose var(--bs-transition-duration-normal) ease-in-out;
}

.bs-fabrique-date-picker__header__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--bs-space-size-2);
}

.bs-fabrique-date-picker__header__buttons--hidden {
  display: none;
}

.bs-fabrique-date-picker__year-picker--hidden {
  display: none;
}

.bs-fabrique-date-picker__calendar {
  margin-top: var(--bs-space-size-4);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  row-gap: var(--bs-space-size-2);
  column-gap: var(--bs-space-size-2);
}

.bs-fabrique-date-picker__calendar--hidden {
  display: none;
}

.bs-fabrique-date-picker__calendar__day {
  text-transform: uppercase;
  color: var(--bs-color-action-grey-default);
  text-align: center;
  position: relative;
  cursor: pointer;
  background-color: inherit;
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: var(--bs-border-radius-circle);
  justify-content: center;
  align-items: center;
  width: var(--spacing-4);
  height: var(--spacing-4);
}

.bs-fabrique-date-picker__calendar__day--header {
  cursor: inherit;
  justify-self: center;
  color: var(--bs-brand-main);
}

.bs-fabrique-date-picker__calendar__day--header::before {
  display: none;
}

.bs-fabrique-date-picker__calendar__day:active::before {
  background-color: var(--bs-brand-main);
  opacity: 0.2;
}

.bs-fabrique-date-picker__calendar__day__number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--bs-border-radius-circle);
  width: var(--bs-space-size-8);
  height: var(--bs-space-size-8);
}
.bs-fabrique-date-picker__calendar__day__number:hover {
  background-color: var(--bs-grey-100);
}

.bs-fabrique-date-picker__calendar__day--selected {
  background-color: var(--bs-brand-main);
  color: var(--bs-color-action-inverse-default);
}

.bs-fabrique-date-picker__calendar__day--disabled {
  color: var(--bs-grey-500);
}

.bs-fabrique-date-picker__calendar__day--disabled:hover::before {
  background-color: var(--bs-grey-500);
}

.bs-fabrique-date-picker__calendar__day--disabled:active::before {
  background-color: var(--bs-grey-500);
}

.bs-fabrique-date-picker__calendar__day--disabled-past {
  color: var(--bs-color-action-disabled);
  background: none;
}

.bs-fabrique-date-picker__calendar__day--disabled-past:hover {
  color: inherit;
  background: none;
}

.bs-fabrique-date-picker__calendar__day--disabled-past:hover::before {
  background: none;
}

.bs-fabrique-date-picker__calendar__day:hover {
  background-color: var(--bs-color-action-inverse-hovered);
}

.bs-fabrique-date-picker__calendar__day--header:hover {
  background-color: var(--color-background-paper);
}

.bs-fabrique-date-picker__calendar__day::before {
  transition: 0.2s background-color;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

/* ----- MODAL DIALOG ----- */
.bs-fabrique-modal-dialog__content .bs-fabrique-date-picker {
  padding: 0;
  width: 100%;
}

@container (max-width: 570px) {
  .bs-fabrique-date-picker__calendar {
    row-gap: 0;
  }
}
