body
  background-color: white

.error-screen-wrapper
  z-index: -20
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-image: url("https://images.pexels.com/photos/15812/bull-center-bulls-eye-darts-15812.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
  background-size: cover

  .error-screen-shadow
    content: " "
    position: absolute
    display: block
    top: 0
    bottom: 0
    width: 100%
    background-color: rgba(255, 255, 255, 0.5)

.error-screen
  z-index: 0
  max-width: 800px
  margin: 20px auto
  padding: 2rem
  border-radius: 0.5rem
  background-color: #F1f1f1
  color: black

.btn
  padding: 0.8rem 1.2rem
  cursor: pointer
  border-radius: 0.5rem

  &:hover
    color: white
    text-shadow: 0 0 3px gray

.btn-error
  background-color: #AE1234
  color: white

.btn-info
  background-color: #1234AE
  color: white

.buttons
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
